{% set settings_nav = 'content' %}
{% extends 'settings/settings_base.html' %}
{% block sub_css %}
<style>
  
</style>
{% endblock %}

{% block settings_content %}
<div id = "settings_all" class = "main-section">
    <div class="lurnby-subsection">
        <h1>Content</h1>
    </div>

    {% if current_user.add_by_email %}
        <div class="lurnby-subsection">
            <h6>Add By Email</h6>
            <div style="height:16px"></div>
            <div class="lurnby-subsection">
                <p class="subheading"><strong>Email</strong></p> 
                <p>
                    <a href ="mailto:{{current_user.add_by_email }}"><strong>{{current_user.add_by_email}}</strong></a>
                </p>
            </div>
            <div class="lurnby-subsection"> 
                <p class="subheading"><strong>Instructions</strong></p>
                <p>To <strong>add an article by link</strong>, your email subject should say <strong>"link"</strong> and nothing more. This let's Lurnby know that you are sending over a url. In the body of the email, add your link followed by a linebreak.</p>
                <p>To <strong>add the full text of your email</strong> you just need to forward the whole email to the email address provided by Lurnby. The email subject will become the article title, and the email body content will become the article text.</p>
               
            </div> 
            <div class="lurnby-subsection">
                <p class="subheading"><strong>Approved Senders</strong></p>
                <p> {% for e in senders %}
                    {{e.email}}{% if not loop.last %},{% endif %} 
                    {% endfor %}</p>
                <form method="post">
                    {{ form.csrf_token }}
                    {{form.email(class='settings-input', placeholder='add another email')}}
                    {% for error in form.email.errors%}
                    {{ error }}
                    {% endfor %}
                    {{form.submit(class="main-button ml0")}}
                </form>
            </div>
        </div>
    {% elif current_user.add_by_email == None %}
    <div class="lurnby-subsection">
        <h6><strong>Add By Email:</strong></h6>
            <p>You can add reading content to Lurnby via email. Lurnby can either process links or full emails. At the moment, processing of attachments is not possible.</p>
            <p>After you enable this feature in your account, you will get a unique email address for sending email to. Additionally, you will be able to specify approved senders. Only emails sent from your approved senders will be processed.</p>
        <button id='enable_email' class="main-button">Enable adding articles by email </button>
    </div>
    {% endif %}
    <div class="lurnby-subsection ">
        <h6>Data Export</h6>
        <p>Export your highlights, notes, and topics in TXT or JSON format. </p>
        <p>If you require you data otherwise, please get in touch and we will help if we can.</p>
        <p>
            <strong>Export format</strong>
        </p>
        <div style="display: flex; flex-wrap: wrap;">
            <select id="export" class="settings-input">
                <option value='none'>Choose</option>
                <option value='txt'>TXT</option>
                <option value='json'>JSON</option>
            </select>
            <button id="export_submit" class="main-button ml0 ">Export my data</button>
        </div>
    </div>
</div>


{% endblock %}

{% block sub_JS%}
<script>
    enable = document.getElementById('enable_email')
    if(enable){
        enable.addEventListener('click', function(){

        url = '/app/enable-add-by-email'
        data = 'enable'

        $.post(url, {
        'data':data
        }).done(function() {
            location.reload();
        });

        });
    }
    

    export_type = byId('export')
    export_submit = byId('export_submit');
    export_submit.addEventListener('click', function(){
        url = "{{url_for('settings.export')}}"
        data = JSON.stringify({'ext':export_type.value})
        fetch(url, {
            method: 'post',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrf_token
            }, 
            body: data
        })
        .then(response => response.json())
        .then(data => {
            msg = create_alert('alert-success', `<p>You will receive an email with the download link when the export is complete.</p><button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>`)
            byId('flashMessages').appendChild(msg)
        });

    }); 




</script>

{% endblock %}