{% extends 'base.html' %}
{% block style %}
<style>
  

   {% block sub_css %}
   {% endblock %}
</style>
{% endblock %}

{% block content %}
<div id = "settings_page" class="page">
    <div id = "settings_nav">
        <ul class = " minimal menu">
            <li><a class="active disabled" href="#">Email Settings</a></li>
            <li><a class="disabled" href="#">Account</a></li>
            <li><a class="disabled" href="#">Payments</a></li>
            <li><a class="disabled" href="#">Data</a></li>
            <li><a class="disabled" href="#">Notifications</a></li>


            
        </ul>
    </div>
    <div id = "settings_body" class = "card">
        <!-- <h1>this is some content</h1>
        <p>this is an option</p>
        <button class="main-button">This is a button</button> -->

        {% block settings_content %}
        {% endblock %}
    </div>
</div>





{% endblock %}

{% block JS %}
<script src="{{url_for('static', filename='js/settings.js')}}"></script>

{% block sub_JS %}
{% endblock %}
{% endblock %}