{% set settings_nav = 'account' %}
{% extends 'settings/settings_base.html' %}
{% block sub_css %}
<style>
  
</style>
{% endblock %}

{% block settings_content %}
<div id = "settings_all" class = "main-section">
    <div class="lurnby-subsection">
        <h1>Account</h1>
    </div>

    <div class="lurnby-subsection">
         <form method="post">
            {{ form.csrf_token }}
            {% if pw %}
            <h6>Current Password</h6>
            <div class="form-label-group">
                {{ form.current_password(class="form-control", placeholder="Current Password", required=True)}}
                {{ form.current_password.label}}
                <p><a class = "small" href="{{ url_for('auth.reset_password_request2') }}">Forgot Your Password?</a></p>
            </div>
            {% endif %}
            <div style="height:24px"></div>
            <h6>Set New Password</h6>

            <div class="form-label-group">
                {{ form.new_password(class="form-control", placeholder="New Password") }}
                {{ form.new_password.label}}
                {% for error in form.new_password.errors%}
                {{ error }}
                {% endfor %}
            </div>
            <div class="form-label-group">
                {{ form.repeat_password(class="form-control", placeholder="Repeat New Password")}}
                {{ form.repeat_password.label}}
                {% for error in form.repeat_password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            </div>
            <button class="main-button width-100 ml0" id="submit">Set new password</button>

        </form>
        
    </div>
</div>

{% endblock %}

{% block sub_JS%}
<script>
</script>

{% endblock %}