{% set settings_nav = 'account' %}
{% extends 'settings/settings_base.html' %}
{% block sub_css %}
<style>
  
</style>
{% endblock %}

{% block settings_content %}
<div id = "settings_all" class = "main-section">
    <div class="lurnby-subsection">
        <h1>Account</h1>
    </div>

    <div class="lurnby-subsection">
        <h6>Info</h6>
         <form method="post">
            {{ form.csrf_token }}
            <div class="form-label-group">
                {{ form.email(class="form-control", value=u.email, disabled=true )}}
                {{ form.email.label}}
                <p>
                    <a class = "small" href="{{ url_for('settings.update_email') }}">Want to change your email address?</a>
                </p>
            </div>
            <div class="form-label-group">
                {{ form.username(class="form-control", placeholder="Username", value=u.username)}}
                {{ form.username.label}}
            </div>
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                {{ error }}
                </div>
            {% endfor %}
            <div class="form-label-group">
                {{ form.firstname(class="form-control", value=u.name )}}
                {{ form.firstname.label}}
            </div>
            {% for error in form.firstname.errors %}
                <div class="alert alert-danger" role="alert">
                {{ error }}
                </div>
            {% endfor %}
            <button type = "submit" class="main-button width-100 ml0" id="submit">Update</button>
            <p>
                <a class = "small" href="{{ url_for('settings.update_password') }}">Want to change your password?</a>
            </p>

        </form>
        <div style="height: 24px;"></div>
        <div>
            <h6>Delete Account</h6>
            <p class="small"><strong>Permanently delete your Lurnby account and all your data.</strong></p>
            <p>You will be offered an option to export any existing highlights and notes before deletion.</p>
            <a href = "{{url_for('settings.delete_verify')}}" class="main-button cancel ml0 width-100">Delete Account</a>
        </div>
    </div>
</div>

{% endblock %}

{% block sub_JS%}
<script>
</script>

{% endblock %}