{% extends 'base.html' %}

{% block style %}
<!-- <link href="https://getbootstrap.com/docs/4.4/examples/floating-labels/floating-labels.css" rel="stylesheet">    -->
{% endblock %}

{% block JS %}
{% endblock %}

{% block content %}
<!-- <div class="form-v-center"> -->
    <form class="form-signin" action="" method="post" novalidate>
        <div class="text-center mb-4">
            <h1>Reset your password</h1>
            {{ form.hidden_tag() }}
        </div>
        
        <div class="form-label-group">
          {{ form.email(class="form-control", placeholder="Email", required=true, autofocus=true)}}
          {{ form.email.label}}
        </div>
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
        {{ error }}
        </div>
        {% endfor %}
        
        <div>     
            {{ form.submit(class="main-button width-100 ml0") }}
        </div>
      
    </form>
<!-- </div> -->
{% endblock %}