{% extends 'base.html' %}

{% block style %}
<!-- <link href="https://getbootstrap.com/docs/4.4/examples/floating-labels/floating-labels.css" rel="stylesheet">    -->
{% endblock %}

{% block JS %}
{% endblock %}

{% block content %}
<form class="form-signin" action="" method="post" novalidate>
    <div class="text-center mb-4">
        <h1>Reset your password</h1>
        {{ form.hidden_tag() }}
    </div>
    
    <div class="form-label-group">
      {{ form.password(class="form-control", placeholder="Password", required=true, autofocus=true)}}
      {{ form.password.label}}
    </div>
    {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
    {{ error }}
    </div>
    {% endfor %}

    <div class="form-label-group">
        {{ form.repeat_password(class="form-control", placeholder="Repeat Password", required=true, autofocus=true)}}
        {{ form.repeat_password.label}}
      </div>
      {% for error in form.repeat_password.errors %}
      <div class="alert alert-danger" role="alert">
      {{ error }}
      </div>
      {% endfor %}
    
    <div>     
        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
    </div>
  
</form>
{% endblock %}