[flake8]
exclude = .git,__pycache__,.github,.aws-sam,.vscode,aws-dist,frontend,.pytest_cache,venv,./app/ReadabiliPy,./migrations
max-line-length = 119
ignore = E266
per-file-ignores= app/api/helpers/article_query_maker.py:E712

