{% extends "dashboard/app_dashboard.html" %}

{% block style %}


{% endblock %}



{% block dash %}
<div class = "dashboard_content">
    <div class = "card dashboard_item">
        <p>{{daily_active}} daily active users </p>
        <p>{{monthly_active}} monthly active users </p>
    </div>
</div>

<div class="dashboard_content">


    {% for user in users %}
    <div class = " card dashboard_item">
        <div class="">
            <h6>{{ user['id']}}</h6>
        </div>
        <div class="underline"></div>
        <p><strong>Articles</strong>: {{user['articles']}}<br>
        <strong>Highlights</strong>: {{user['highlights']}}<br>
        <strong>Tags</strong>: {{user['tags']}}<br>
        <strong>Topics</strong>: {{user['topics']}}<br>
        <strong>Last Active</strong>: {{user['last_active'].strftime("%d %B at %H:%M")}}<br>
        <strong>Days Old</strong>: {{user['days_old']}}<br>
        <strong>Last Action</strong>: {{ user['last_action']}} <br>
        {% if user['suggestion']%}
        <strong>Added</strong>: {{ user['suggestion']}}</p> 
        {% endif %}

     
        <div class="underline"></div>   
        <button class="main-button cancel" onclick="mark_test_account({{ user['id']}})">Test Account</button> 
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block JS %}
<script>
function mark_test_account(id){

    $.post('/app/app_dashboard/users', {
        'user': id
    }); 

}

</script>


{% endblock %}