{% extends "dashboard/app_dashboard.html" %}

{% block style %}

{% endblock %}

{% block dash %}
<div class="dashboard_content">
    {% for user in users %}
    <div class = "dashboard_item">
        <div class="">
            <h4>{{ user['email']}}</h4>
        </div>
        <div class="underline"></div>
        <h6>Articles: {{user['articles']}}</h6>
        <h6>Highlights: {{user['highlights']}}</h6>
        <h6>Tags: {{user['tags']}}</h6>
        <h6>Topics: {{user['topics']}}</h6>
        <h6>Last Active: {{user['last_active']}}</h6>
        <h6>Last Action: {{ user['last_action']}}</h6> 
        {% if user['suggestion']%}
        <h6>Added: {{ user['suggestion']}}</h6> 
        {% endif %}

    
        <div class="underline"></div>   
        <button class="main-button cancel" onclick="mark_test_account({{ user['id']}})">Test Account</button> 
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block JS %}
<script>
function mark_test_account(id){

    $.post('/app_dashboard/users', {
        'user': id
    }); 

}

</script>


{% endblock %}