/* regular styles */

body, #base-main {
  padding: 0;

}



.articles-empty-row {
  display: flex;
  justify-content: center;
}

.articles-empty-col {
  margin-top: 32px; 
  background: white;
  padding: 24px;
  border: #424242 2px solid;
}

@media(min-width:768px){
  .articles-empty-col{
    max-width: 450px;
    padding: 48px;
  }
}


.tagged:focus, .untagged:focus, .main-button:focus, 
.input[type=checkbox]:focus + label{
  color: white;
  background: #424242;
}

.main-button{
  color: #424242;
  background: #F9F7F4;
  border-radius:0;
  margin: 0 16px;
  padding: 8px 16px;
  border: none;
}

.main-button:hover{
  color: white;
  background: #424242;

}
.main-section {
  padding: 24px;
  padding-left:24px;
}

.main-col {
  padding: 0;
}

.data {
  padding-left: 0;
}

#flashMessages{
  position: fixed;
  top: 52px;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 8px;
  display: flex;
  justify-content: center;
  }

  #flashMessages .alert {
    width: 90vw;
  }

  #flashMessages .close {
    position: absolute;
    top: 8px;
    right: 8px;
  }

.alert {
  margin: 0;
  border-radius: 0;
}


/* filter styles */

.filter-col {
  margin-top:8px;
  width: 100%;
}



.filter input[type=checkbox]{
    width: 0.1px;
	  height: 0.1px;
	  opacity: 0;
	  overflow: hidden;
	  position: absolute;
	  z-index: -1;
}

.filter input[type=checkbox]:focus + label {
  background: #424242;
  color: white;
}


.filter .dropdown-menu {
  margin: 0;
  border-radius: 0;
  border: #424242 1px solid;
  overflow-y: scroll;
  min-width: 220px;
  max-width: 600px;
  transform: translate3d(0px, 40px, 0px)!important;
}

.filter-dropdown {
  background: #FFF79F;
}
 

.filter form {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.filter form .save,
.main-form .save{
  
  margin-top: 8px;
  margin-right: 0;
  margin-left: auto;
}

.filter .main-button {
  margin-left: 0;
}

#active_filters{
  margin-top: 8px;
}

@media (min-width:768px){
  .filter .dropdown-menu {
    min-width: 450px;
  }
}

/*      end filters        */

/* Article reading styles  - text.html */

#infoDiv{
  display: none;
  z-index: 101;
}

.topics-group input[type=checkbox]{
  display: none;
}

.topics-all {
  margin-top: 16px;
}

.topic-label {
  border-radius: 0;
  display: inline-flex;
  margin-bottom: 8px;
  margin-right: 4px;
  font-weight: 100;
  font-size: 0.8rem;
  padding: 4px 8px;
  background: #F9F7F4;
}

.topic-label.active {
background: #fab1a0;
}

.topic-label:hover{
  background: #fab1a0;
}

.topic-label.active:hover{
   background: #F9F7F4;
}

.highlighted {
  background-color: rgba(255, 255, 0, 0.411); 
  display: inline; 
  border: none;
}



/* end article reading styles */



.heading {
  display: flex;
  margin: 0;
  margin-bottom: 16px;
  
}

.subheading{
  font-weight: 300;
  margin-bottom: 16px;
}



.inline-block {
  display: inline-block;
}  



.cancel, .edit{  
  background:transparent;
  margin-right: 0;
  text-decoration: underline;

}  

.heading h6 {
  display: inline;
  border-bottom: #424242 4px solid;
  font-weight: 700;
  font-size: 1.5rem;  
}
 
/* articles page styles */



@media(min-width:375px){


  
    #overview {
      background: #FEF7F6;
      margin: 0;
      padding-top: 56px;
    }

  
    #articles, #done_articles {
        display: flex;
        flex-wrap: wrap;    
        justify-content: flex-start;
    }

    .articles_section {
      margin-bottom: 32px;
    }
    
    
  
    .article_card{
      width: 324px;
      background: white;
      margin-right: 0px;
      margin-bottom: 0px;
      padding: 16px 16px;
      min-height: 288px;
    }
  
    .underline{
      margin: 16px 0px;
      border: #424242 2px solid;
    }
  
  
    #open {
      width: 324px;
      background: white;
      padding: 16px 0;
      margin-left: 0px;
      margin-bottom: 16px;
      display: flex;
      justify-content: flex-end
    } 

    .editing {
    
      display:none !important;
    
    }
  
  
      

    .archive {
       display: inline-block;
       margin-right: auto;
      margin-left: 0;
    }
    
  .inline-button{
    margin-left: 16px;
  }


   
      #add_new_tag .main-button{
      margin: 0;
    }
  
  
    #tags{
      display: inline-flex;
      flex-wrap: wrap;
      margin-top: 16px;
    }
  
  #tags input{
    display: none;
  }
  
  .add_new {
    font-size: 0.8rem!important;
  }

  
    .tagged, .active-tags {
      font-weight: 100;
      font-size: 0.8rem;
      padding: 4px 8px;
      background: #FFF79F;
      display: inline-flex;
      margin-bottom: 4px;
      margin-right:4px;
    }

    .untagged  {
      display: inline-flex;
      margin-bottom: 4px;
      margin-right: 4px;
      font-weight: 100;
      font-size: 0.8rem;
      padding: 4px 8px;
      background:#F9F7F4;
    }
  
    .tagged:hover {
      background:#F9F7F4;
      cursor: pointer;
    }

    .untagged:hover {
      background:#FFF79F;
      cursor: pointer;
    }
  
  
    .label p {
      font-weight: 100;
      font-size: 0.8rem;
      padding: 4px 8px;
      display: inline;
      text-align:center;
      background:#FFF79F;
    }
 
  
    .article_title h4 {
      font-weight: 900;
      font-size: 1.2rem;
      padding: 8px 0;
    }
  
    .article_data, .data{
      margin-top: 16px;
      justify-content: space-between;       
    }
  
  
  .article_data .col-3 {
    max-width: 33%;
  }
  
    .article_data h6, .data h6{
      font-size: 0.8rem;
      font-weight: 500;
    }
  
    .article_data p, .data p{
      font-size: 1.2rem;
      font-weight: 100;
    }
  
  
  .lurnby_modal .modal-dialog, 
  #edit_article .modal-dialog,
  #add_article .modal-dialog,
  {
    min-width: 75vw;
  }

    .lurnby_modal .modal-content,
    #edit_article .modal-content,
    #add_article .modal-content {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: white;
      background-clip: padding-box;
      border: 0;
      border-radius: 0;
      outline: 0;
    }
  
    .lurnby_modal .modal-header,
    #edit_article .modal-header,
    #add_article .modal-header {
      background-color: #F9F7F4;
      border: none;
    }
  
    .lurnby_modal .modal-footer
    #edit_article .modal-footer,
    #add_article .modal-footer {
      border: 0;
    }
    
    .lurnby_modal h5,
    #edit_article h5,
     #add_article h5,
     .main-form h5{
      font-weight: 900;
    }
  
    .lurnby_modal h6,
    #edit_article h6,
    #add_article h6,
    .main-form h6{
      font-weight: 900;
    }
    
    .large {
      min-height: 150px;
    
    }
    
    #edit_article p{

    }
  
  .lurnby_modal form,  
  #edit_article form,
  #add_article form,
  .main-form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

  }
  
  
  .lurnby_modal input,
   #edit_article input,
   #add_article input,
   .main-form input{
      border: none;
      border-bottom: #424242 1px solid;
      border-radius: 0;
      font-size:0.8rem;
    }
  
    .lurnby_modal textarea,
    #edit_article textarea,
    #add_article textarea,
    .main-form textarea{
      width: 100%;
      border: #efefef 1px solid;
    }
  
  .lurnby_modal .lurnby_data_group,
  #edit_article .article_data_group,
  #add_article .article_data_group,
  .main-form .article_data_group{
    margin: 0 0 24px 0;
    width: 100%;
  }

.lurnby_data_group .inline-block {
  margin-bottom: 16px;
}


  #add_from {
    width: 100%;
  }
  
  .main-button.add-article{
    margin: 0;
    min-width: 80px;
    margin-right: 8px;
  }
  
  .epub-input{
    width: 0.1px;
	  height: 0.1px;
	  opacity: 0;
	  overflow: hidden;
	  position: absolute;
	  z-index: -1;
  }

  .epub-label{
    cursor: pointer;
    margin-left: 0;
  }
  .epub-input:focus + label,
  .epub-input + label:hover {
    color: white;
    background: #424242;
  }

  .manual_add input {
    margin-bottom: 24px;
  }

  #add_article textarea {
    min-height: 40px;
  }

  }
  
  @media(min-width:768px){
    .article_card {
      margin-right: 16px;
    }



}

  
  @media(min-width:992px){
    
    .article_card, #open{
      width: 300px;
    }
  }
    
  

/* articles page styles end */




 .regular {
  color: #424242;
  text-decoration: underline;
  padding: 4px;
  margin-left: -4px;
}

.regular:hover {
  color: white;
  background: #424242;
}
input {
  padding: .6em 1em 0 0;
}



textarea {
  padding: .6em 1em .5em .2em;
}

.reg-select{
  
  color: #424242;
  line-height: 1.3em;
  padding: .6em 1em .5em .2em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #efefef;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23424242%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 100%,#ffffff 100%);	background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}



pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }


.hidden {
    display: none;
}

.space-above {
    margin-top: 2rem;
}

.custom-file-label{
    height: 3.125rem;  
    padding: .75rem .75rem;
}

.custom-file-label::after {
    height: 3.0rem;
    padding: .75rem .75rem;
}

.custom-file-input{
margin-top: 1.5rem ;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
}



@keyframes mymove {
    100% {
        transform: translateX(500px)
    }
   
}


#rrface:hover{
  
    animation: rotate 4s infinite alternate;

}  

img.star {

    animation: rotate 4s infinite alternate;

}


.main-button, .close {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

#ViewHighlightModal > textarea { 

    height: auto !important; 
}

.topic-member{
    border-radius: 20px;
    margin-bottom: 15px !important;
    margin-left: 10px;
    border-color: #bbbbbb;
    background-color: #fff;
    color: #424242;
    padding-left: 32px;

}

.topic-member:hover{
    border-color: #dc3545;
    background-color: #dc3545;
    color: #fff;
    transition: .15s ease-in-out;
}

.topic-non-member{
    border-radius: 20px;
    margin-bottom: 15px !important;
    margin-left: 10px;
    border-color: #bbbbbb;
    background-color: #fff;
    color: #424242;
    padding-left: 32px;

}

.topic-non-member:hover{
    border-color: #28a745;
    background-color: #28a745;
    color: #fff;
    transition: .15s ease-in-out;
}


.topic-icon {
    margin-top: 2px;
    opacity: 0;
    float: right;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    padding-left: 8px;
}

.topic-member:hover .topic-icon {
    
    color: white;
    opacity: 100;
    
}

.topic-non-member:hover .topic-icon {
    
    color: white;
    opacity: 100;
    
}



.highlight-title:hover {

    cursor: pointer;
    text-decoration: underline;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}



body {
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    background:#F2F1EE;
    
  }



.text-center {
    text-align: center;
}

.body-center{
    padding-top: 2rem;
}

.btn-wide{
    padding-left: 88px;
    padding-right: 88px;
}

#card-header-dropdown-menu-button.dropdown-toggle::after {
    border: none;
}

.topics-col .dropdown-menu {
    background-color:white;
    padding: 0;
}
.topics-col .dropdown-header{
    background-color: grey;
    color: white;
    height: 40px;
}
.topics-col .dropdown-header, h4{
    font-size: 1rem;
}

button.topic-card-header-menu {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.topic-card-header-menu{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}



#topicmain {
width: 100%;

}

.topics-col{
margin-bottom: 24px;  

}

.topics-col-base{
    max-height: 60vh;  
    overflow: auto;  
    }


.topics-col-inner{
    max-height: 60vh;
    overflow: auto;
}

 .add-topic {
    background: rgba(22, 28, 22, 0.26);
    color: white;
    padding-top: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    display: block;
}

.add-topic:hover {
    background: rgba(22, 28, 22, 0.66);
   
}

&::-webkit-scrollbar {
    display: none;
  }

.topics-row{
    overflow-x: scroll;
    overflow-y: hidden;
     white-space: nowrap;
    -webkit-overflo`w-scrolling: touch;
    
    &::-webkit-scrollbar {
        display: none;
      }
}


.pushdown {
    margin-top: 80px;
    margin-left: 24px;

}



.bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after {
    left: 1px;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: transparent !important;
  }


.popover{
    color: #fff;
    background-color:transparent !important;
    border:none;
}

.popover .arrow::before {
    border: none;
}

.popover .arrow::after {
    border: none;
}







ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #F2C5B0;
}



.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
