{% extends 'dotcom/base.html' %}
{% block content %}
        <main id = "main-index">
            <div class = "col-2-3">
                <h2>Real learning is difficult. But effective.</h2>
                <h1>Lurnby is a studying tool that improves how much you understand and remember of what you read. It uses neuroscience principles and learning methods such as <strong>active reading</strong>, <strong>spaced repetition</strong>, <strong>recall practice</strong>, and <strong>chunking.</strong></h1>
                <a class="btn" href="who-is-lurnby-for.html">Oooh, ooh, this is for me!</a>
            </div>
            <div class = "col-1-3">
                <div id="logo">
                    <img src="images/lurnby.png"/>
                </div>
            </div>
        </main>
{% endblock %}