.dash_nav {
   margin-top: 40px;
    ul{
        display: flex;
        list-style-type: none;
        li {
            margin-right: 24px;
            text-decoration: underline;
        }        

   } 

}

.dash_form {
    input, textarea {
        padding-left: 8px;
        width: 500px;
        border:0;
        margin: 4px 16px;
    }


    textarea {
        border: 0;
        min-height: 200px;
    }
}

.dashboard_content {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .dashboard_item {
    width: 312px;
    background: white;
    margin: 16px;
    padding: 24px;
  }

  .dashboard_item.half {
      width: 48%;
  }

  @media(max-width:576px){
    .dashboard_item.half {
        width: 90%;
        margin-right: 16px;
    }

    .dash_form {
        input, textarea {
            width: 90%;
            margin-right: 16px;

        }

    }
  }

