.heart-hover:hover{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto;
}

.width-100 {
    width: 100%;
    display: block;
  }

.image100 {
    height: auto !important;
    max-width: 100% !important;
}

.highlight-card, .modal, .review-item {
    img, figure {
        max-width: 100% !important;
        height: auto !important;
    }
}

.center{
    text-align: center;
}

.mobile-width-100{
    @media(max-width: $mobile-max) {
        width: 100%;
    }
} 

.error{
    color: $red;
}

.mobile-hidden {
    @media(max-width: $mobile-max) {
        display: none !important;    
    }
}

.no-bottom {
    padding-bottom: 0;
}
.ml0 {
    margin-left: 0;
}
.mlauto {
    margin-left:auto;
}


//////////////////
// Flex classes //
//////////////////

.flex{
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.jcenter{
    justify-content: center;
}
.jevenly{
    justify-content: space-evenly;
}
.acenter{
    align-items: center;
}




.main-button {
    cursor: pointer !important;
}

#content {
    user-select: text;
    -webkit-user-select: text;
    
    * {
        user-select: text;
        -webkit-user-select: text;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        margin-bottom: 1rem;
    }

    pre {
        white-space: pre-wrap;
    }

    margin: auto;
    width: 100%;
    max-width: 1000px;
 }

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.25rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.75rem;
}
h5 {
    font-size: 1.5rem;
}
h6{
    font-size: 1.25rem;
}



@media (max-width:$mobile-max){
    h1{
        font-size: 2rem;
    }
    h6 {
        font-size: 1.2rem;
    }
}

@media(max-width:374px){
    h1 {
        font-size: 1.8rem;
    }
}

 #content {
    
    ::-moz-selection { /* Code for Firefox */
        background: $highlight-yellow;
        color: $dark;
      }
    ::-webkit-selection {
        background: $highlight-yellow;
        color: $dark; 
    }
      
      ::selection {
        background: $highlight-yellow;
        color: $dark;
      }
 }
