.heart-hover:hover{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto;
}

.width-100 {
    width: 100%;
  }

.mobile-width-100{
    @media(max-width: $mobile-max) {
        width: 100%;
    }
} 

.mobile-hidden {
    @media(max-width: $mobile-max) {
        display: none !important;    
    }
}

.no-bottom {
    padding-bottom: 0;
}

.main-button {
    cursor: pointer !important;
}

#content {
    img {
        max-width: 100%;
        height: auto;
    }

    p {
        margin-bottom: 1rem;
    }

    pre {
        white-space: pre-wrap;
    }

    margin: auto;
    width: 100%;
    max-width: 1000px;
 }
