////////////////////////////////////////
//     Haven't added all nav code     //
//     Think it's in bootstrap.       //
////////////////////////////////////////

//////////////////////
//     Feedback     //
//////////////////////

.feedback{
    span {
        background: $highlight-yellow;
        border-radius: 50%;
        padding: 12px 6px;
    }
    img:hover {
        cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0,auto;
        animation: rotate 4s infinite alternate;
  }
}



