html {
    scroll-behavior: smooth;
}

.title {
    text-decoration: underline $dark 4px;
    margin-bottom: 48px;
}

.form-v-center {
    display: flex;
    align-content: center;
    height: 100%;
    padding: 88px 0px;

}

.progress{
    border-radius: 0;
}

.progressbar{
    position: fixed;
    top: 64px;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 6px;
    border-radius: 0;
}

@media(max-width:769px){
    .progressbar{
        top: 56px;
    }
}
.progress{
    background-color: $logo-grey;
    width: 0%;
    height: 6px;
}

.blog-roll {
    
    .post {
        margin-bottom: 32px;

        h3 {
            font-weight: 900;
            font-size: 1.5rem;
        }

        .video-wrapper{
            max-width: 560px;
        }
    }

}

////////////////////
//     videos     //
////////////////////

.video-wrapper{
    overflow: hidden;
    position: relative;
    width:100%;

    .video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video-wrapper::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.lurnby_modal li {
    margin-bottom: 16px;

    .h-demo {
        display: inline-block;
        margin: 4px;
    }
}

////////////////////////
//     text pages     //
////////////////////////
.lurnby-container {
    max-width: 630px;
    margin: auto;
    padding: 120px 24px;
    
    line-height: 1.5em;
}

@media(max-width: $mobile-max){
    .lurnby-container {
        max-width: 630px;
        margin: auto;
        padding: 60px 24px;
        
    }
}

.lurnby-subsection{
    margin-bottom: 44px;
    
    .subheading {
        font-weight: 700;
        margin-bottom: 4px;
    }

    h6{
        font-weight: 900;
    }

    * {
        box-sizing: border-box;
    }

}

.lurnby-subsection .lurnby-subsection {
    margin-bottom: 24px;
}


ul.minimal {
    list-style-type: none;
    padding: 0;
}

li{
    margin-bottom: 8px;
}



.card {
    padding: 1.25rem;
    background-color: #fff;
    border-radius: 6px;
    border: none;
    box-shadow:0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    margin:0 16px 16px 0;
    min-width: 300px;
}

#base-main {
    position: relative;
    min-height: 100vh;

    .form-signin {
        padding: 44px 24px;
    }


    #base_content{
        padding-top: 56px;
        // set this in the template under if condition
        //padding-bottom: 150px;
    }
}

.page {
    padding-top: 64px;
}


////////////////////
//     footer     //
////////////////////

.lurnby-footer{
    padding: 44px 0px;
    display: block;
    text-align: center;
    background-color: #dbdbdb;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 150px;
    
    p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .terms {
        padding: 0px 24px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
        justify-content: center;
       
        a {
            display: block;
            color: $dark;
            font-size: 12px;
            margin-right: 8px;
            margin-bottom: 8px;
        }
    
    }
   
}

////////////////////
//     nav        //
////////////////////
#navigation {
    padding-left:  40px;
    padding-right: 40px;
}


/////////////////////
//     general     //
/////////////////////

.main-section {
    padding: 24px 40px;
  }
  
  #overview {
    background: #FEF7F6;
    margin: 0;
    padding: 56px 40px;

  }
  
  
  
/////////////////////
//     mobile      //
/////////////////////
@media(max-width:$mobile-max){
    .main-section {
        padding: 24px;
    }

    #navigation {
        padding-left:  24px;
        padding-right: 24px;
    }

    #overview {
        padding: 56px 24px;
    }
}