.title {
    text-decoration: underline $dark 4px;
    margin-bottom: 48px;
}

.blog-roll {
    
    .post {
        margin-bottom: 32px;

        h3 {
            font-weight: 900;
            font-size: 1.5rem;
        }

        .video-wrapper{
            max-width: 560px;
        }
    }

}

////////////////////
//     videos     //
////////////////////

.video-wrapper{
    overflow: hidden;
    position: relative;
    width:100%;

    .video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video-wrapper::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}