.review-item {
    max-width: 640px;
    margin: 16px 0 32px 0;
    
    .highlight-content{
        min-height: 150px;
    }
    .review-actions{ 
        display: flex;
        .main-button {
            margin-left: 0;
            margin-right: 8px;
            border: none;
        
            &.view_highlight:hover{
                svg{
                    fill: #FFF;
                }
            }
        }
    
        .review-outcome{
            margin-left: auto;

            .remember{
                margin-right: 0px;
            }

            button{
                width: 88px;
            }

            @media(max-width: 374px){
                button{
                    width: 75px;
                }
            }

        }
    }

}