// colors
$highlight-yellow: #FFF79F;
$light-pink: #FEF7F6;
$salmon: #fab1a0;
$red: #db4928;

$main-grey: #F9F7F4;
$bg-grey:#F2F1EE;
$dark: #424242;
$dark-grey: #8a8989;
$logo-grey: #cbc1bf;

$green: #B0C6BB;


// screen sizes
$mobile-max:575px; //mobile
$sm:576px; // vertical tab / horizontal phone
$md:768px; // vertical tab

$tablet-max: 991px;
$lg: 992px; //small desktops like chromebooks
$xl: 1200px;
$xxl: 1400px; 
