<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Lurnby</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% if is_production %}
        <link rel="stylesheet" href="{{ asset('style.css') }}">
    {% else %}
        <script type="module" src="{{ asset('@vite/client') }}"></script>
        <script type="module" src="{{ asset('login.jsx') }}"></script>
    {% endif %}
</head>
<body>
    <div id="app"></div>
    {% if is_production %}
        <script type="module" src="{{ asset('login.jsx') }}"></script>
    {% endif %}
</body>
</html>
