<div class="lurnby-container">
    
    <div class="lurnby-header lurnby-subsection">
        <h1>
            Intellectual Property Policy
        </h1>
        <p>
            Lurnby
        </p>
        <p>
            2234 Ocean Ave<br>
            Brooklyn, New York 11223
        </p>
        <p>
            <strong>Last Updated:</strong> October 30, 2021
        </p>
        <p>
            This Intellectual Property Policy (the “IPP”) outlines the responsibilities and rights of registered and non-registered users (each a “User,” and collectively, the “Users”) of our applications, software, products, and services (collectively, the “Service”) with regard to the intellectual property of Users and of Lurnby. This document is an important contract between Lurnby and our Users, and as such, we have tried to make it as clear as possible. In addition to the full legal terms and text, we have provided short non-binding summaries with each clause. These summaries do not aim to replace or misrepresent the full text. For the avoidance of doubt, “intellectual property” refers to copyrights, patents, patent disclosures and inventions (whether patentable or not), trademarks, service marks, trade secrets, know-how and other confidential information, trade dress, trade names, logos, corporate names, and all other such rights.
        </p>
    
    </div>
    <div id = "TOC" class="lurnby-subsection">
        <ul class="minimal">
            <li><a href="#a">A. Definitions</a></li>
            <li><a href="#b">B. General</a></li>
            <li><a href="#c">C. When does this IPP apply?</a></li>
            <li><a href="#d">D. Can this IPP be modified?</a></li>
            <li><a href="#e">E. How does Lurnby handle intellectual property right claims?</a></li>
            <li><a href="#f">F. What can you do if your content was removed from Lurnby?</a></li>
            <li><a href="#g">G. What are agreeing to under this IPP?</a></li>
        </ul>
    </div>
    <div id="a" class="lurnby-subsection">
        <h2>
            A. Definitions
        </h2>
        <div class="summary">
            <strong>Summary:</strong> These terms are used throughout this IPP and it’s important that you understand what we are referring to when we use them.
        </div>
        <p>
            Terms not defined in this section shall have the meaning provided elsewhere in the Terms of Service.
        </p>
        <ul>
            <li>
                <strong>“Agreement”</strong> refers, collectively, to all the terms, conditions, notices contained or referenced in this document (the “IPP”) and all other operating rules, policies, including the Lurnby Privacy Policy and the Lurnby Terms of Service and procedures that we may publish from time to time on the Website.
            </li>
            <li>
                <strong>“Content”</strong> refers to content featured or displayed through the Website, including without limitation text, data, articles, images, photographs, graphics, software, applications, designs, features, and other materials that are available on the Website or otherwise available through the Service. “Content” also includes Services. 
            </li>
            <li>
                <strong>“User-Generated Content”</strong> is Content, written or otherwise, created or uploaded by our Users. 
            </li>
            <li>
                <strong>“Your Content” </strong>is Content that You create or own, otherwise, Lurnby manages and retains rights to the Content.
            </li>
            <li>
                <strong>“Us” and “We”</strong> refers to Lurnby, as well as our affiliates, directors, subsidiaries, contractors, licensors, officers, agents, and employees
            </li>
            <li>
                <strong>“User,” “You,” “Your”</strong> refers to the individual person, company, or organization that has visited or is using the Website or Service; that accesses or uses any part of the account; or that directs the use of the account in the performance of its functions.
            </li>
            <li>
                <strong>“Website”, “Application”, or “App” </strong>refer to Lurnby’s website located at Lurnby.com, and all content, services and products provided by Lurnby at or through the Website. It also refers to Lurnby-owned subdomains of Lurnby.com, such as app.lurnby.com. These terms also govern the use of Lurnby plugins such as those available in the Chrome webstore or firefox extensions gallery, as well as those we will create in the future. Occasionally, Lurnby plugin pages and websites owned by Lurnby may provide additional or different terms of service. If those additional terms conflict with this IPP, the terms in the additional terms with regard to the matter in conflict shall apply.
            </li>
        </ul>
        <p>
            <a href="#TOC">Back to top</a>
        </p>
    </div>
    <div id="b" class="lurnby-subsection">
        <h2>
            B. General
        </h2>
        <p>
            <strong>When You use Our Services and Content, You are agreeing to:</strong>
        </p>
        <ul>
            <li>
                This Intellectual Property Policy
            </li>
            <li>
                Our Privacy Policy
            </li>
            <li>
                Our Terms of Service
            </li>
            <li>
                Any other terms or policies we reference in any of the above.
            </li>
        </ul>
        <p>
            Except as they may be supplemented by additional terms and conditions, policies, guidelines or standards, this IPP constitutes the entire Agreement between Lurnby and You pertaining to the subject matter hereof, and supersedes any and all prior oral or written understandings or agreements between Lurnby and You in relation to the access to and use of the Service.
        </p>
        <p>
            If any provision of this IPP is held to be invalid or unenforceable, such provision will be struck and will not affect the validity and enforceability of the remaining provisions.
        </p>
        <p>
            Questions about this Intellectual Property Policy? <a href="mailto:team@lurnby.com?subject=Questions about Lurnby's IPP">Contact us.</a>
        </p>
        <p>
            <a href="#TOC">Back to top</a>
        </p>
    </div>
    <div id="c" class="lurnby-subsection">
        <h2>
            C. When Does This IPP Apply?
        </h2>
        <div class="summary">
            <strong>Summary:</strong> By using Lurnby, You are agreeing to all the terms below.
        </div>
        <p>
            By using the Service, You are agreeing, on behalf of Yourself and those You represent, to comply with and be legally bound by this Agreement and all applicable laws. If You do not agree with any provision of this IPP, You must discontinue the registration process, discontinue Your use of the Service, and, if You are already registered, delete Your account.
        </p>
        <p>
            <a href="#TOC">Back to top</a>
        </p>
    </div>
    <div id="d" class="lurnby-subsection">
        <h2>
            D. Can This IPP Be Modified?
        </h2>
        <div class="summary">
            <strong>Summary:</strong> We can change these terms, and if the changes are big, we’ll let You know.
        </div>
        <p>
            Lurnby reserves the right to revise this IPP from time to time and the most current version will always be posted on our Website. If a revision, in our sole discretion, is material we will notify You. The “Last Updated” date at the top of this IPP reflects the date of the last modification. Your use of the Service following the effective date of any modifications to this IPP will constitute your acceptance of such revised IPP. If You do not agree to the new terms, You should stop using the Service and delete Your account.
        </p>
        <p>
            <a href="#TOC">Back to top</a>
        </p>
    </div>
    <div id="e" class="lurnby-subsection">
        <h2>
            E. How Does Lurnby Handle Intellectual Property Right Claims?
        </h2>
        <div class="summary">
            <strong>Summary:</strong> Lurnby takes intellectual property seriously and we expect you to do the same. We may delete your account or any content you upload if we feel that it is infringing on the rights of others. You can reach out to Lurnby if you feel that you were in the right. 
        </div>
        <p>
            Lurnby respects the intellectual property rights of others and we expect people using our Service to do the same. It is our practice—in appropriate circumstances and at our discretion—to either disable or terminate the accounts of Users who infringe or are repeatedly charged with infringing copyrights or other intellectual property rights of others.
        </p>
        <p>
            If You believe that the Content in question does not infringe on intellectual property rights of others, You should contact Lurnby Customer Care with proof clearly outlining Your rights to use the Content.
        </p>
        <div class="summary">
            <strong>Summary:</strong> Lurnby respects intellectual property rights. If We receive a DMCA Notice, We may disable access or remove the allegedly infringing content from Lurnby Stores. If Your Content is removed and You think the claim is invalid, You can respond and let us know why. If You believe one of our Users is infringing on Your intellectual property rights, please send Lurnby a DMCA Notice. We may remove the content and will certainly notify the Merchant.
        </div>
        <p>
            If You notice infringement of Your copyrights or other intellectual property rights on Lurnby, You can notify Us as follows. Please note that Lurnby cannot provide You with legal advice or representation, and We recommend that You speak with a licensed attorney in Your jurisdiction if You are seeking legal advice.
        </p> 
        <p>
            If You are a copyright holder or are authorized to act on behalf of one, You may report alleged copyright infringements on the Service by completing a Digital Millennium Copyright Act (“DMCA”) Notice of Alleged Infringement (the “DMCA Notice”) and sending it to us. 
        </p>

        <p>
            In accordance with the Digital Millennium Copyright Act, which You can find on the US Copyright Office website, We will respond as quickly as we can to claims of suspected copyright infringement that are reported to <a href="mailto:team@lurnby.com">team@lurnby.com</a>.
        </p>
        <p>
            Upon receipt of Your DMCA Notice, We will notify the User responsible for uploading the corresponding Content and will provide the User with an opportunity to respond. We will take whatever additional action we deem appropriate, which may include removing the reported content from Lurnby. Please note that it may take up to 10 business days to process, review, and act on Your request.
        </p>
        <p>
            <a href="#TOC">Back to top</a>
        </p>
    </div>
    <div id="f" class="lurnby-subsection"> 
        <h2>
            F. What Can You Do If Your Content Was Removed from Lurnby?
        </h2>
        <div class="summary">
            <strong>Summary:</strong> If You believe the complaint raised regarding Your Content is improper, follow the proper instructions below and We will help You sort things out.
        </div>
        <p>
            If You received a notification that Your Content has been removed as a result of a copyright complaint, it means someone reported that they own the rights to the Content, and requested that We remove Your Content. If You want us to forward the information from the copyright complaint notification, email us at <a href="mailto:team@lurnby.com">team@lurnby.com</a> to let us know. Please note that We may remove some personal contact information from the original complaint.
        </p>
        <p>
            If Your Content is the subject of repeated copyright complaints, We may disable Your account altogether.
        </p>
        <p>
            If You think We made a mistake by removing Your Content, You can file a counter-notice with Us, by following the directions and requirements below. When We get a counter-notice that includes all of the information required, We will remove the complaint from Your account’s record.
        </p>
        <p>
            <strong>Note:</strong> There are legal and financial consequences for fraudulent or bad faith counter-notices. Before submitting a counter-notice, make sure You have a good faith belief that We removed Your Content in error, and that You understand the repercussions of submitting a false claim. If Lurnby is the subject of a legal cause of action on account of your false claim, You will be added to the claim and Lurnby will not be liable for such false claim. In addition, Lurnby may at its sole discretion delete Your account and refuse future service.
        </p>
        <p>
            To submit Your counter-notice, email us at <a href="mailto:team@lurnby.com">team@lurnby.com</a> and include all of the following information:
        </p>
        <ul>
            <li>
                Your name, address and phone number.
            </li>
            <li>
                The DMCA ID found at the bottom of the notification email You received from us.
            </li>
            <li>
                The name of the Content We removed.
            </li>
            <li>
                A statement under penalty of perjury that You have a good faith belief that Your Content was removed in error.
            </li>
            <li>
                A statement that You consent to the jurisdiction of Federal District Court for the judicial district in which your address is located or, if Your address is outside of the United States, for any judicial district in which Lurnby may be found, and that You agree to accept service of process from the entity who provided the original complaint.
            </li>
            <li>
                A physical or electronic signature.
            </li>
            <li>
                Any additional information you have showing that You own or are otherwise entitled to use the Content at issue.
            </li>
        </ul>
        <p>
            <a href="#TOC">Back to top</a>
        </p>
    </div>
    <div id="g" class="lurnby-subsection">
        <h2>
            G. What Are You Agreeing to Under This IPP?
        </h2>
        <div class="summary">
            <strong>Summary:</strong> By uploading content into Lurnby, you are acknowledging that you have all the rights to upload this content and that you are not violating or infringing on the rights of others.
        </div>
        <p>
            By uploading Your Content on the Service, You represent and warrant that: (i) You either own the Content posted by You on or through the Service or that You otherwise have the legal right and authority to use Your Content; (ii) the posting and use of Your Content on or through the Service does not violate, misappropriate or infringe on the rights of any third party, including, without limitation, privacy rights, publicity rights, copyrights, trademark and/or other intellectual property rights; (iii) You agree to pay for all royalties, fees, and any other monies owed through use of Your Content on the Service; and (iv) You have the legal right and capacity to enter into this Agreement.
        </p>
        <p>
            If You are unsure about your rights regarding the usage of Your Content, You agree to perform all due diligence on Your part to ensure that Your Content is free for You to use on the Service.
        </p>
        <p>
        	More information can be found at the <a target="_blank" href="https://www.copyright.gov/">U.S. Copyright Office</a> and the <a href="https://www.uspto.gov/" target="_blank">U.S. Patent and Trademark Office</a>.
        </p>
        <p>
            <a href="#TOC">Back to top</a>
        </p>
    </div>
</div>