
<div class="lurnby-container">
    <div class="lurnby-header lurnby-subsection">
        <h1>
            Privacy Policy
        </h1>
        <p>
            Lurnby
        </p>
        <p>
            2400 E3rd st <br>
            Brooklyn, NY 11223
        </p>
        <p>
            <strong>Last Updated: </strong>Oct 31, 2021
        </p>
        <p>
            Thank you for using Lurnby.  Before using or accessing our platform, please read this Privacy Policy carefully, it explains how we protect your data and respect your privacy.
        </p>
        <p>
            If you have any questions about this Privacy Policy, <a href="mailto:team@lurnby.com?subject=Questions about the privacy policy">please get in touch</a>.
    
            
        </p>
        
    </div>
    <div id = "TOC" class="lurnby-subsection">
        <ul class="minimal">
            <li><a href="#a">A. Yours and our Responsibilities</a></li>
            <li><a href="#b">B. When does Lurnby collect your data?</a></li>
            <li><a href="#c">C. Categories of data collected?</a></li>
            <li><a href="#d">D. How and why we use your data?</a></li>
            <li><a href="#e">E. What these legal bases mean?</a></li>
            <li><a href="#f">F. Your privacy rights and choices</a></li>
            <li><a href="#g">G. How do we protect your data?</a></li>
            <li><a href="#h">H. Where do we store the data?</a></li>
            <li><a href="#i">I. How long do we store the data?</a></li>
            <li><a href="#j">J. Third parties who process your data</a></li>
            <li><a href="#k">K. Cookies</a></li>
            <li><a href="#l">L. What if we change this policy?</a></li>
        </ul>
    </div>
    <div class = "lurnby-section">         
        <div id="a" class="lurnby-subsection">
            <h2>
                A. Yours and our responsibilities
            </h2>
            <p>
                <strong>Who does this policy apply to?</strong>
            </p>
            <p>
                <ul>
                    <li>
                        If you are a Lurnby customer, or just visiting our website, this policy applies to you.
                    </li>
                </ul>
            </p>
            <p>
                <strong>Our responsibilities</strong>
            </p>
            <p>
                <ul>
                    <li>
                        If you are a registered Lurnby customer or a visitor to our website we act as the  “data controller” of personal data. This means we determine how and why your data are processed.
                    </li>
                </ul>
            </p>
            <p>
                <strong>Your responsibilities</strong>
            </p>
            <ul>
                <li>
                    Read this Privacy Policy
                </li>
                <li>
                    If you provide us with personal information about other people (i.e. if you are registering on behalf of someone else), or if others give us your information, we will only use that information for the specific reason for which it was provided to us. By submitting the information, you confirm that you have the right to authorise us to process it on your behalf in accordance with this Privacy Policy.
                </li>
            </ul>
            <p>
                <a href="#TOC">Back to top</a>
            </p>
    
        </div>
        <div id="b" class="lurnby-subsection">
            <h2>
                B. When does Lurnby collect your data?
            </h2>
            <div class="summary">
                <strong>Summary:</strong> Lurnby collects your data in all of our interactions from the moment you visit our website. Some data is collected automatically, and some data is only collected with your consent.
            </div>
            <p>
                <strong>With your consent we collect your data when:</strong>
            </p>
            <ul>
                <li>
                    You register for an account
                </li>
                <li>
                    You upload content to Lurnby
                </li>
                <li>
                    You create content on Lurnby
                </li>
                <li>
                    You use Lurnby Plugins
                </li>
                <li>
                    We email each other
                </li>
                <li>
                    You contact our support and/or success team (we may also collect call audio, which we will disclose on the call);
                </li>
                <li>
                    When you connect with us on social media
                </li>
                <li>
                    You request a demo of Lurnby
                </li>
                <li>
                    You participate in a user research study
                </li>
                <li>
                    You opt-in to marketing messages
                </li>
                <li>
                    Automatically we collect your data when:
                </li>
                <li>
                    You browse any part of our website
                </li>
            </ul>
            <p>
                <a href="#TOC">Back to top</a>
            </p>
    
        </div>
        <div id="c" class="lurnby-subsection">
            <h2>
                C. Categories of data collected
            </h2>
            <div class="summary">
                <strong>Summary:</strong> Lurnby collects different kinds of data and we process that data for different purposes.
            </div>
            <p>
                <strong>Contact details and basic information</strong>
                <ul>
                    <li>
                        Your name, address, telephone number, email address…
                    </li>
                </ul>
            </p>
            <p>
                <strong>Financial information</strong>
                <ul>
                    <li>
                        credit/debit card details…
                    </li>
                </ul>
            </p>
            <p>
                <strong>Data from your content</strong>
                <ul>
                    <li>
                        Content you upload to Lurnby, or content you create within Lurnby
                    </li>
                </ul>
            </p>
            <p>
                <strong>Data that identifies you</strong>
                <ul>
                    <li>
                        Your IP address, login information, browser type and version, time zone setting, browser plug-in types, geolocation information about where you might be, operating system and version…
                    </li>
                </ul>
            </p>
            <p>
                <strong>Data on how you use Lurnby</strong>
                <ul>
                    <li>
                        Your URL clickstreams (the path you take through our site), products/services viewed, page response times, download errors, how long you stay on our pages, what you do on those pages, how often, and other actions…
                    </li>
                </ul>
            </p>
            <p>
                <strong>What about really sensitive data?</strong>
                <ul>
                    <li>
                        We don’t collect any “sensitive data” about you (like racial or ethnic origin, political opinions, religious/philosophical beliefs, trade union membership, genetic data, biometric data, health data, data about your sexual life or orientation, and offences or alleged offences).
                    </li>
                </ul>
            </p>
            <p>
                <strong>What about children’s data?</strong>
                <ul>
                    <li>
                        Lurnby is intended for use only by those who are 18 years of age or over. We do not target Lurnby at children, and we do not knowingly collect any personal data from any person under 16 years of age.
                    </li>
                </ul>
            </p>
            <p>
                <a href="#TOC">Back to top</a>
            </p>
    
        </div>
        <div id="d" class="lurnby-subsection">
            <h2>
                D. How and why we use your data
            </h2>
            <div class="summary">
                <strong>Summary:</strong> According to Data Protection Law, we can only process your data for specific purposes and only when we have a legal basis to do so. The reasons are outlined below.
            </div>
            <div class="lurnby-subsection">
                <h3>
                    Keeping Lurnby running
                </h3>
            
                <p>
                    Managing your requests (like uploading content), login and authentication, remembering your settings, hosting and back-end infrastructure.
                </p>
                <p>
                    <strong>Legal basis for processing data:</strong> 
                    <ul>
                        
                        <li>
                            contract
                        </li> 
                        <li>
                            legitimate interests
                        </li>
                    </ul>
                </p>
            </div>
            <div class="lurnby-subsection">
                <h3>
                    Improving Lurnby
                </h3>
                <p>
                    Testing features, interacting with feedback platforms and questionnaires, managing landing pages, heat mapping our site, traffic optimization and data analysis and research, including profiling and the use of machine learning and other techniques over your data and in some cases using third parties to do this.
                </p>
                <p>
                    <strong>Legal basis for processing data:</strong> 
                    <ul>
                        <li>
                            contract
                        </li> 
                        <li>
                            legitimate interests
                        </li>
                    </ul>
                </p>
            </div>
            <div class="lurnby-subsection">
                <h3>
                    Customer support
                </h3>
                <p>
                    Notifying you of any changes to our service, solving issues via live chat support, phone or email including any bug fixing.
                </p>
                <p>
                    <strong>Legal basis for for processing data: </strong>
                    <ul>
                        <li>
                            contract
                        </li>
                    </ul>
                </p>
            </div>
            <div class="lurnby-subsection">
                <h3>
                    Marketing purposes (with your consent)
                </h3>
                <p>
                    Sending you emails and messages about new features, products and services, and content.
                </p>
                <p>
                    <strong>Legal basis for processing data:</strong> 
                    <ul>
                        <li>
                            consent
                        </li>
                    </ul>
                </p>
            </div>
            <p>
                <a href="#TOC">Back to top</a>
            </p>
    
        </div>
        <div id="e" class="lurnby-subsection">
            <h2>
                E. What these legal bases mean
            </h2>
            <div class="lurnby-subsection">
                <h3>Consent:</h3>
                <ul>
                    <li>
                        You have given clear consent for us to process your information for a specific purpose.
                    </li>
                    <li>
                        You can withdraw your consent at any time by emailing <a href="mailto:team@lurnby.com">team@lurnby.com</a> or by navigating to the settings page and managing your data settings.
                    </li>
                </ul>
            </div>
            <div class="lurnby-subsection">
                <h3>Contract:</h3>
                <ul>
                    <li>
                        Processing your data is necessary for a contract you have with us, or because we have asked you to take specific steps before entering into that contract.
                    </li>
                </ul>
            </div>
            <div class="lurnby-subsection">
                <h3>Legitimate interests:</h3>
                <p>
                    Processing your data is necessary for our legitimate interests or the legitimate interests of a third party, provided those interests are not outweighed by your rights and interests.
                </p>
                <p>
                    <strong>These legitimate interests are:</strong>
                </p>
                <ul>
                    <li>
                        gaining insights from your behaviour on our website or in our app
                    </li>
                    <li>
                        delivering, developing and improving the Lurnby service
                    </li>
                    <li>
                        enabling us to enhance, customise or modify our services and communication
                    </li>
                    <li>
                        determining whether marketing campaigns are effective
                    </li>
                    <li>
                        enhancing data security
                    </li>
                </ul>
                <p>
                    In each case, these legitimate interests are only valid if they are not outweighed by your rights and interests.
                </p>
            </div>
            <p>
                <a href="#TOC">Back to top</a>
            </p>
        </div>
        <div id="f" class="lurnby-subsection">
            <h2>
                F. Your privacy rights and choices
            </h2>
            <div class="summary">
                <strong>Summary:</strong> When it comes to your data and privacy, you have a lot of control for what Lurnby can do. All of your data settings can be managed from your Lurnby account page, or by emailing us at team@Lurnby.com. These include your rights to review, correct and delete your data.
            </div>
            <div class="lurnby-subsection">
                <h3>
                    Your rights
                </h3>
                <p>
                    You can exercise your rights at any time by sending us an email at <a href="mailto:team@lurnby.com">team@lurnby.com</a> or by navigating to your Lurnby account page.
                </p>
                <p>
                    <strong>You have the right to access information we hold about you</strong>
                </p>
                <p>
                    This includes the right to ask us supplementary information about:
                </p>
                <ul>
                    <li>
                        the categories of data we’re processing
                    </li>
                    <li>
                        the purposes of data processing
                    </li>
                    <li>
                        the categories of third parties to whom the data may be disclosed
                    </li>
                    <li>
                        how long the data will be stored (or the criteria used to determine that period)
                    </li>
                    <li>
                        your other rights regarding our use of your data
                    </li>
                </ul>
                    <p>
                        We will provide you with the information within one month of your request, unless doing so would adversely affect the rights and freedoms of other (e.g. another person’s confidentiality or intellectual property rights). We’ll tell you if we can’t meet your request for that reason.
                    </p>
                    <p>
                        <strong>You have the right to see what personal information has been shared with third parties.</strong>
                    </p>
                    <p>
                        California Civil Code Section § 1798.83 allows users of our Services that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. If you would like to make such a request, please send an email to team@Lurnby.com.
                    </p>
                    <p>
                        <strong>You have the right to make us correct any inaccurate personal data about you</strong>
                    </p>
                    <p>
                        If after accessing your information, you believe that we have incorrect or inaccurate data, you can request us to change or correct it.
                    </p>
                    <p>
                        <strong>You have the right to object to us using your data for profiling you or making automated decisions about you</strong>
                    </p>
                    <p>
                        We may use your data to determine whether we should let you know information that might be relevant to you (for example, tailoring emails to you based on your behaviour). Otherwise, the only circumstances in which we will do this is to provide the Lurnby service to you.
                    </p>
                    <p>
                        <strong>You have the right to port your data to another service</strong>
                    </p>
                    <p>
                        We will give you a copy of your data in CSV or JSON so that you can provide it to another service. If you ask us and it is technically possible, we will directly transfer the data to the other service for you. We will not do so to the extent that this involves disclosing data about any other individual.
                    </p>
                    <p>
                        <strong>You have the right to be ‘forgotten’ by us</strong>
                    </p>
                    <p>
                        You can do this by asking us to delete any personal data we hold about you, if it is no longer necessary for us to hold the data for purposes of your use of Lurnby.
                    </p>
                    <p>
                        <strong>You have the right to lodge a complaint regarding our use of your data</strong>
                    </p>
                    <p>
                        Please tell us first, so we have a chance to address your concerns. If we fail in this, EU residents can address any complaint to the relevant data authority from this list: http://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm
                    </p>
                    <p>
                        The US does not view privacy in the same way and has not established processes for lodging complaints for the type of data we are collecting. If you have a complaint about our use of your data, reach out to us at team@Lurnby.com and we will address your concerns as best we can.
                    </p>
            </div>
            <div class="lurnby-subsection">
                <h3>
                    Your choices
                </h3>
                <p>
                    <strong>You can choose not to provide us with personal data</strong>
                </p>
                <p>
                    If you choose to do this, you can continue to use the website and browse its pages, but the Lurnby app will not be functional.
                </p>
                <p>
                    <strong>You can turn off cookies in your browser by changing its settings</strong>
                </p>
                <p>
                    You can block cookies by activating a setting on your browser allowing you to refuse cookies. You can also delete cookies through your browser settings. If you turn off cookies, you can continue to use the website and browse its pages, but Lurnby and certain services may not work effectively.
                </p>
                <p>
                    <strong>You can control certain third party collection and use of your information</strong> 
                </p>
                <p>
                    Third parties may offer ways for you to choose not to have your information collected or used. You can opt out of receiving targeted ads from members of the Network Advertising Initiative (“NAI”) on the NAI’s website: <a target="_blank"href="https://www.networkadvertising.org/understanding-online-advertising/what-are-my-options/">https://www.networkadvertising.org/understanding-online-advertising/what-are-my-options/</a>
                </p>
                <ul>
                    <li>
                        To prevent Google Analytics from collecting or using your information, you may <a target="_blank"href="https://tools.google.com/dlpage/gaoptout">install the Google Analytics Opt-Out Browser Add-on</a>;
                    </li>
                    <li>
                        To opt out of tracking by Mixpanel: <a target="_blank"href="https://mixpanel.com/optout/">https://mixpanel.com/optout/</a>
                    </li>
                    <li>
                        To opt out of tracking by Hotjar: <a target="_blank" href="https://www.hotjar.com/legal/compliance/opt-out">https://www.hotjar.com/legal/compliance/opt-out</a>
                    </li>
                    <li>
                        To manage ads that you see on Google: <a target="_blank" href="https://support.google.com/ads/answer/2662922?hl=en">https://support.google.com/ads/answer/2662922?hl=en</a>
                    </li>
                    <li>
                        To manage ad settings on Facebook: <a target="_blank" href="https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen">https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen</a>
                    </li>
                </ul>
                <p>
                    <strong>You can ask us not to use your data for marketing</strong>
                </p>
                <p>
                    We will inform you (before collecting your data) if we intend to use your data for marketing and if third parties are involved. 
                </p>
                <p>
                    You can opt out from marketing by emailing us at <a href="mailto:team@lurnby.com">team@lurnby.com</a>, or by navigating to your account page and managing your data settings.
                </p>
            </div>
            <p>
                <a href="#TOC">Back to top</a>
            </p>
        </div>
        <div id="g" class="lurnby-subsection">
            <h2>
                G. How do we protect your data?
            </h2>
            <div class="summary">
                <strong>Summary:</strong> We do a lot of things to keep your data safe on our end, but you are also responsible for keeping your account information safe and secure. If you feel that your data has been breached, immediately change your password and get in touch with our support team.
            </div>
            <p>
                We have physical, electronic, and managerial procedures to safeguard and secure the information we collect. For more information on our efforts to ensure your data is held in a secure manner, please contact us at team@Lurnby.com
            </p>
            <h3>
                Our Infrastructure
            </h3>
            <p>
                Lurnby operates on servers and cloud components that comply with strict international standards. Access to infrastructure at Lurnby is securely controlled and available from specific locations only. This access is limited to specific employees only and protected by 2-factor authentication.
            </p>
            <p>
                Data is stored in the US region by default on Heroku servers and is continuously backed up. Full details on the data security practices can be found here.
            </p>
            <p>
                <strong>And please remember:</strong>
            </p>
            <p>
                You provide personal data at your own risk: unfortunately, no data transmission is guaranteed to be 100% secure
            </p>
            <p>
                You are responsible for the security of your username and password: keep them secret and safe.
            </p>
            <p>
                If you believe your privacy has been breached, please change your password as soon as possible and contact us immediately on team@Lurnby.com.
            </p>
            <p>
                <a href="#TOC">Back to top</a>
            </p>
        </div>
        <div id="h" class="lurnby-subsection">
            <h2>
                H. Where do we store the data?
            </h2>
            <p>
                The personal data we collect is processed at our offices in New York and Riga and in any data processing facilities operated by the third parties identified below.
            </p>
            <p>
                By submitting your personal data, you agree to this transfer, storing or processing by us. If we transfer or store your information outside the EEA in this way, we will take steps to ensure that your privacy rights continue to be protected as outlined in this Privacy Policy.
            </p>
            <p>
                <a href="#TOC">Back to top</a>
            </p>
        </div>
        <div id="i" class="lurnby-subsection">
            <h3>
                I. How long do we store your data?
            </h3>
            <p>
                We will archive and stop actively using any personally identifiable information about you within 6 months from the last time you used Lurnby. We will delete your personal data from our archives no later than 6 years from the last time you used Lurnby or upon your request.
            </p>
            <p>
                <a href="#TOC">Back to top</a>
            </p>
        </div>
        <div id="j" class="lurnby-subsection">
            <h2>
                J. Third parties who process your data
            </h2>
            <div class="summary">
                <strong>Summary:</strong> To effectively run Lurnby we need to partner with various third parties around the world. These include tools like Sendgrid and Heroku that allow us to communicate and deliver our service to you. This section outlines who we work with, for what purposes, and where you can find more information about their privacy policies.
            </div>
            <p>
                To deliver the best possible Lurnby experience we often have to partner with third parties to deliver services that we cannot. These include services that support our communications, both internal for our team and external when we communicate with you, tools that keep our web platform and API running, as well as services that allow us to study the use of our platform and learn how best to develop and design new features, messages and offers.
            </p>
            <p>
                When we do this, sometimes it is necessary for us to share your data with them in order to get these services to work well. Your data is shared only when strictly necessary and according to the safeguards and good practices detailed in this Privacy Policy.
            </p>
            <p>
                Here are the details of our main third-party service providers, the data being collected or shared and the reason sharing is necessary.
            </p>
            <div class="lurnby-subsection">
                <h3>
                    Infrastructure
                </h3>
                <p>
                    <strong>Heroku</strong> <a target="_blank" href="https://www.salesforce.com/company/privacy/">Privacy policy</a>
                </p>
                <ul>
                    <li>
                        Contact details
                    </li>
                    <li>
                        Data that identifies you
                    </li>
                    <li>
                        contractual data
                    </li>
                    <li>
                        data on how you use Printify
                    </li>
                </ul>
                <p>
                    Heroku is a cloud service that helps us build, manage, and deploy Lurnby.
                </p>
            </div>
            <div class="lurnby-subsection">
                <h3>
                    Analytics and Marketing
                </h3>
                <div class="lurnby-subsection">
                    <p>
                        <strong>Cloudflare Analytics</strong> <a target="_blank" href="https://www.cloudflare.com/privacypolicy/">Privacy policy</a>
                    </p>
                    <ul>
                        <li>
                            How you use Lurnby
                        </li>
                        <li>
                            Data that identifies you
                        </li>
                        <li>
                            Cookies
                        </li>
                    </ul>
                    <p>
                        Cloudflare Analytics is a web analytics service: we use it to track your use of the service, and prepare reports on user activity.
                    </p>
                </div>
                <div class="lurnby-subsection">
                    <p>
                        <strong>Google Analytics</strong> <a target="_blank" href="https://www.google.com/policies/privacy/">Privacy policy</a>
                    </p>
                    <ul>
                        <li>
                            How you use Lurnby
                        </li>
                        <li>
                            Data that identifies you
                        </li>
                        <li>
                            Cookies
                        </li>
                    </ul>
                    <p>
                        Google Analytics is a web analytics service: we use it to track your use of the service, and prepare reports on user activity.
                    </p>
                </div>
                <div class="lurnby-subsection">
                    <p>
                        <strong>Google Adwords</strong> <a target="_blank" href="https://www.google.com/policies/privacy/">Privacy policy</a>
                    </p>
                    <ul>
                        <li>
                            Data that identifies you
                        </li>
                        <li>
                            Cookies
                        </li>
                    </ul>
                    <p>
                        Google Adwords is a marketing tool that allows us to reach potential users and grow the Lurnby audience.
                    </p>
                </div>
                <div class="lurnby-subsection">
                    <p>
                    	<strong>Facebook Inc.</strong> <a target="_blank" href="https://www.facebook.com/about/privacy/update">Privacy policy</a>
                    </p>
                    <ul>
                        <li>
                            Data that identifies you
                        </li>
                        <li>
                            Cookies
                        </li>
                    </ul>
                    <p>
                        Facebook business tools  offer a number of services including analytics and advertising that allow us to track your use of the service, prepare reports on user activity and grow Lurnby’s audience.
                    </p>
                </div>
                <div class="lurnby-subsection">
                    <p>
                        <strong>Hotjar Ltd. </strong><a target="_blank" href="https://www.hotjar.com/legal/policies/privacy">Privacy policy</a>
                    </p>
                    <ul>
                        <li>
                            Data that identifies you
                        </li>
                        <li>
                            How you use Lurnby
                        </li>
                        <li>
                            Data from your content and products
                        </li>
                        <li>
                            Cookies
                        </li>
                    </ul>
                    <p>
                        This is a web analytics service: we use it to track your use of the service, and prepare reports on user activity.
                    </p>
                </div>
            </div>
            <div class="lurnby-subsection">
                <h3>
                    Communications and Research
                </h3>
                <div class="lurnby-subsection">
                    <p>
                        <strong>Sendgrid, Inc.</strong> <a target="_blank" href="https://sendgrid.com/policies/privacy/">Privacy policy</a>
                    </p>
                    <ul>
                        <li>
                            Contact details
                        </li>
                        <li>
                            How you use Lurnby
                        </li>
                        <li>
                            Contractual data
                        </li>
                    </ul>
                    <p>
                        We use this service for sending, storing and tracking emails.
                    </p>
                </div>
                <div class="lurnby-subsection">
                    <p>
                        <strong>The Rocket Science Group LLC d/b/a MailChimp</strong> <a target="_blank" href="https://mailchimp.com/legal/privacy/">Privacy policy</a>
                    </p>
                    <ul>
                        <li>
                            Contact details
                        </li>
                        <li>
                            How you use Lurnby
                        </li>
                        <li>
                            Data that identifies you
                        </li>
                    </ul>
                    <p>
                        We use this service for sending emails, managing mailing lists, and/or delivering newsletters about Product updates and changes.
                    </p>
                </div>
                <div class="lurnby-subsection">
                    <p>
                        <strong>Typeform S.L.</strong> <a target="_blank" href="https://admin.typeform.com/to/dwk6gt">Privacy policy</a>
                    </p>
                    <ul>
                        <li>
                            Contact details
                        </li>
                        <li>
                            How you use Lurnby
                        </li>
                        <li>
                            Data that identifies you
                        </li>
                        <li>
                            Contractual data
                        </li>
                        <li>
                            Data from your content
                        </li>
                    </ul>
                    <p>
                        We use this service to learn about user needs, and to understand and improve Lurnby services by capturing feedback from our users.
                    </p>
                </div>
                <div class="lurnby-subsection">
                    <p>
                        <strong>Formagrid, Inc. (Airtable)</strong> <a target="_blank" href="https://airtable.com/privacy">Privacy policy</a>
                    </p>
                    <ul>
                        <li>
                            Contact details
                        </li>
                        <li>
                            How you use Lurnby
                        </li>
                        <li>
                            Data from your content and products
                        </li>
                        <li>
                            Contractual data
                        </li>
                        <li>
                            Data that identifies you
                        </li>
                    </ul>
                    <p>
                        We use Airtable to store and analyze data for purposes of research and product development.
                    </p>
                </div>
            </div>
            <div class="lurnby-subsection">
                <h3>
                    Payments
                </h3>
                <div class="lurnby-subsection">
                    <p>
                        <strong>Stripe, Inc.</strong> <a target="_blank" href="https://stripe.com/privacy-shield-policy">Privacy policy</a>
                    </p>
                    <ul>
                        <li>
                            Contact details
                        </li>
                        <li>
                            Financial information
                        </li>
                        <li>
                            Cookies
                        </li>
                        <li>
                            Contractual data
                        </li>
                    </ul>
                    <p>
                        This service processes payments for us.
                    </p>
                </div>
            </div>
            
            <p>
                <a href="#TOC">Back to top</a>
            </p>
        </div>
        <div id="k" class="lurnby-subsection">
            <h2>
                K. Cookies
            </h2>
            <p>
                We use cookies. Unless you adjust your browser settings to refuse cookies, we (and these third parties) will issue cookies when you interact with Lurnby. These may be ‘session’ cookies, meaning they delete themselves when you leave Lurnby, or ‘persistent’ cookies which do not delete themselves and help us recognise you when you return so we can provide a tailored service.
            </p>
            <p>
                <strong>How can I block cookies?</strong>
            </p>
            <p>
                You can block cookies by activating a setting on your browser allowing you to refuse the setting of cookies. You can also delete cookies through your browser settings. If you use your browser settings to disable, reject, or block cookies (including essential cookies), certain parts of our website will not function fully. In some cases, our website may not be accessible at all. Please note that where third parties use cookies we have no control over how those third parties use those cookies.
            </p>
            <p>
                <strong>Which specific cookies do we use?</strong>
            </p>
            <div class="lurnby-subsection">
                <p>
                    <strong>Lurnby</strong>
                </p>
                <p>
                    Lurnby uses cookies to keep you logged in to our service. 
                </p>
            </div>
            <div class="lurnby-subsection">
                <p>
                    <strong>Google, Inc.</strong>
                </p>
                <p>
                    Google Analytics uses cookies allows us to see information on the activities of visitors to our website and users of our service, including page views, source and time spent on Lurnby. The information is depersonalized and is displayed as numbers, meaning it cannot be tracked back to individuals. This will help to protect your privacy.
                </p>
                <p>
                    To opt out of being tracked by Google Analytics across all websites <a target="_blank" href="https://tools.google.com/dlpage/gaoptout">click here.</a>
                </p>
            </div>
            <div class="lurnby-subsection">
                <p>
                    <strong>Hotjar, Inc.</strong>
                </p>
                <p>
                    Hotjar uses cookies allows us to see information on the activities of visitors to our website and users of our service, including page views, source and time spent on Lurnby. The information is depersonalized and is displayed as numbers, meaning it cannot be tracked back to individuals. This will help to protect your privacy.
                </p>
                <p>
                    To opt out of being tracked by Hotjar across all websites <a target="_blank" href="https://www.hotjar.com/legal/compliance/opt-out">click here.</a>
                </p>
            </div>
            <div class="lurnby-subsection">
                <p>
                    <strong>Facebook, Inc.</strong>
                </p>
                <p>
                    Facebook uses cookies if visitors have a Facebook account, use the <a target="_blank"href="https://www.facebook.com/help/1561485474074139">Facebook Products</a>, including their website and apps, or visit other websites and apps that use the Facebook Products (including the Like button or other Facebook Technologies). Cookies enable Facebook to offer the Facebook Products to visitors and to understand the information they receive about visitors, including information about their use of other websites and apps, whether or not they are registered or logged in.
                </p>
                <p>
                    To opt out of being tracked by Facebook by <a target="_blank"href="https://www.facebook.com/policies/cookies/">following the instructions here</a>.
                </p>
            </div>
            <p>
                <a href="#TOC">Back to top</a>
            </p>
        </div>
        <div id = "l" class="lurnby-subsection">
            <h2>
                L. What if we change this Policy?
            </h2>
            <p>
                We reserve the right to make changes to this Privacy Policy at any time to reflect changes in the law, our data collection and use practices, the features of our Services, or advances in technology. Please check this page periodically for changes. If we make any material changes to this Privacy Policy, we will notify you via the email address provided for Registered Users and we will also post a notice on our home page and post the updated Privacy Policy here.
            </p>
            <p>
                The date the Privacy Policy was last revised is identified at the top of the page. Please review the changes carefully. Your continued use of the Services following the posting of changes to this Privacy Policy will mean you consent to and accept those changes. If you do not consent to such changes, you should stop using our Services.
            </p>
            Contact us at any time at <a href="mailto:team@lurnby.com">team@lurnby.com</a> if you have more questions about this privacy policy, your rights, or our privacy practices.
            
            <p>
                <a href="#TOC">Back to top</a>
            </p>
        </div>
    </div>
</div>