{% extends 'base.html' %}
{% block content %}
<main id = "main-index">
    <div >
        <h2>We're swimming in investor money. Not.</h2>
        <p>We believe everyone who wants to learn better, should be supported by the best tools to do so. We currently operate on a pay-what-you-think-it's-worth model. And we plan to keep this model for as long as it's sustainable.</p> 
        <p>This means that if you're not sure how much this is worth for you yet, you can use Lurnby at no cost. If you think that Lurnby is solving a meaningful problem, then please visit Lurnby's Patreon page below to support us.</p>             
        <a class="btn patreon" target = "_blank" href="https://www.patreon.com/lurnby">Support Lurnby on Patreon, please.</a>
        <p>and then,</p>
        <a class="btn" href="how-to-start-using-lurnby.html">Can I see it now?</a>

    </div>
    
</main>
{% endblock %}