{% extends 'base.html' %}
{% block content %}
<main id = "main-who">
    <div>
        <h2>Lurnby doesn't really work as much as <em>you</em> work. :) </h2>
        <p>Lurnby doesn't do any magic - for a software product, it might even be a little bit boring.</p>
        <p>You add things to read. You read them. You highlight as you read. You organize your highlights into groups you create. You reflect.</p>
        <p>But we guess it's the details that are important...</p>
    </div>
    
    <div id="how-it-works">
        <div class = "sticky">
            <h3>The details.</h3>
            <ol>
                <li>
                    With Lurnby, you can add all of your reading content to a single place - whether that's web articles, ebooks, pdfs, newsletters, etc.
                </li>
                <li>
                    Reading is easy. Choose your settings, get rid of ads, follow your progress.
                </li>
                <li>Keep only what's meaningful to you. Highlight key concepts and passages, add notes, group your highlights so you can build larger mental concepts across everything you are reading. </li>
                <li>Remember more with reviews. Lurnby supports active recall practice and spaced repetition.</li>
                <li>Write articles, essays, or posts with your highlights to deepen your comprehension. </li>
            </ol>
            <a class="btn" href="how-much-lurnby-costs.html">Damn. I'm excited - how much do you want for it?</a>

        </div>
            
            <div class = "app-previews col-1-2">
                <img class = "desktop-screen" src="images/content_in_a_single_place.png"/>
                <img class = "mobile-screen" src="images/easy-to-read.png"/>
                <img class = "mobile-screen" src="images/lurnby-taking-notes.jpg"/>
                <img src="images/highlights.png"/>
                <img src="images/topics.png"/>
                

            </div>
            
            
    </div>
</main>
{% endblock %}
