{% extends 'base.html' %}
{% block content %}
<main id = "main-index">
    <div class = "col-2-3">
        <h2>How much of what you read do you remember?</h2>
        <h1>Lurnby is a studying tool that improves how much you understand and remember of what you read. It uses neuroscience principles and learning methods such as <strong>active reading</strong>, <strong>spaced repetition</strong>, <strong>recall practice</strong>, and <strong>chunking.</strong> <span><a href="https://www.linkedin.com/pulse/principles-effective-learning-lurnby-rostislav-roznoshchik/" target="_blank">Read more here.</a></span></h1>
            <p>We don't always read things we want to remember, but when we do, shouldn't we be able to do so?</p>
        <a class="btn" href="who-is-lurnby-for.html">Oooh, ooh, this is for me!</a>
    </div>
    <div class = "col-1-3">
        <div id="logo">
            <img src="images/lurnby.png"/>
        </div>
    </div>
</main>
{% endblock %}