{% extends 'base.html' %}
{% block content %}
<main id = "main-who">
    <div >
        <h2>Do I want to learn better and remember more?</h2>
        <p>Lurnby is for people who put in work. It's for driven people who want to improve themselves, learn new skills, and make better decisions.</p>
        <p>It's for people who read a lot. Specifically, it's for people who want to do active reading. The kind where you actively process what you're reading, reflect on it, and make sense of it. If you've read with a pen in hand before, filling your books with marginalia - it's for readers like you.</p>
        <a class="btn" href="how-lurnby-works.html">Yo. That's me. Now tell me how it works.</a>

    </div>
    

</main>
{% endblock %}