{% include '_overview.html'%}

<div id = "articles_all" class = "main-section">
    <div class = "heading row">
        <div class = "">
            <h6>Articles</h6>
            <!-- <button id="ChangeView" class = "action-icon" onclick="change()"><i id="change-icon" class="list-icon"></i><span id="change-icon-tooltip">List View</span></button> -->
            <button class="main-button cancel" onclick="ViewAddArticle()">Add new</button>
        </div>
        
        <!-- Filters   -->
        <div class = "all-filters">
            <div class = "lurnby-filter">
                <span>Show 
                    <select id = "per_page">
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="all">all</option>
                    </select> articles
                </span>
            </div>
            {% if current_user.tags.count() > 0 %}
            <div id = "tags_filter" class = "lurnby-filter">
                <div class = "dropdown">
                    <button class="main-button" type="button" id="tags_dropdown" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                        Tags <span id="tag_count">0</span>
                    </button>
                    <div id = "active_tags" class="dropdown-menu">
                        <form>
                            {% for tag in user.tags.all() %}
                            <label for= "tag{{tag.id}}" class="lurnby-tag">{{tag.name}}<input type="checkbox" id="tag{{tag.id}}" class="single-tag" name="tags" value="{{tag.id}}"></input></label>
                            {% endfor %}
                        </form>
                        
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="lurnby-filter">
                <input type="hidden" id="title_sort_value"/>
                <input type="hidden" id="opened_sort_value"/>
                <span>Sort By: 
                    <button id="title_sort" class="main-button sort-button"><span>Title</span></button>
                    <button id="last_opened_sort" class="main-button sort-button"><span>Last Opened</span></button>
                </span>
            </div>
            <div class="lurnby-filter">
                <span>Status:  
                    <select id = "article_status">
                        <option value="All">All</option>
                        <option value="New">New</option>
                        <option value="In progress">In Progress</option>
                        <option value="Finished reading">Finished reading</option>
                        
                    </select>
                </span>
                
            </div>
            
            <div class="lurnby-filter">
                <label for="search">Search:</label><input type="text" id="search">
                <button id="filter_submit" class="main-button"><span>Apply</span><span class="mobile-hidden"> filters</span></button> 
            </div>
            <div class="lurnby-filter">
                <span id="record_count">{{showing}}</span>
            </div>
            
            
        </div>
    
        <!-- End Filters   -->
            
    </div>
    <hr>

    <!-- Where the actual articles live -->
    <div id="article-items" class="gallery-view">
        {% for article in articles %}
            {% include '_article.html' %}
        {% endfor %}
    </div>

</div>
