{% if staging %}
<link rel="apple-touch-icon" href="{{url_for('static', filename='images/lurnby-logo/apple-touch-icon.png?m=n142021') }}" sizes="150x150" type="image/png?m=n142021">
{% else %}
<link rel="apple-touch-icon" href="{{url_for('static', filename='images/apple-touch-icon.png?m=n142021') }}" sizes="150x150" type="image/png?m=n142021">
{% endif %}

<!-- <link rel="apple-touch-startup-image" href="static/images/lurnby.png?m=n142021"> -->
<meta name="apple-mobile-web-app-title" content="Lurnby">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />


<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/static/images/assets/icons/icon_180x180.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
    href="/static/images/assets/icon_1136x640.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
    href="/static/images/assets/icon_2436x1125.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
    href="/static/images/assets/icon_1792x828.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
    href="/static/images/assets/icon_828x1792.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
    href="/static/images/assets/icon_1334x750.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
    href="/static/images/assets/icon_1242x2688.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
    href="/static/images/assets/icon_2208x1242.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
    href="/static/images/assets/icon_1125x2436.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
    href="/static/images/assets/icon_1242x2208.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
    href="/static/images/assets/icon_2732x2048.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
    href="/static/images/assets/icon_2688x1242.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
    href="/static/images/assets/icon_2224x1668.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
    href="/static/images/assets/icon_750x1334.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
    href="/static/images/assets/icon_2048x2732.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
    href="/static/images/assets/icon_2388x1668.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
    href="/static/images/assets/icon_1668x2224.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
    href="/static/images/assets/icon_640x1136.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
    href="/static/images/assets/icon_1668x2388.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
    href="/static/images/assets/icon_2048x1536.png?m=n142021"
/>
<link
    rel="apple-touch-startup-image"
    media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
    href="/static/images/assets/icon_1536x2048.png?m=n142021"
/>


<!-- 
<link href="{{ url_for('static', filename='images/splashscreens/iphone5_splash.png?m=n142021')}}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{{ url_for('static', filename='images/splashscreens/iphone6_splash.png?m=n142021')}}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{{ url_for('static', filename='images/splashscreens/iphoneplus_splash.png?m=n142021')}}" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="{{ url_for('static', filename='images/splashscreens/iphonex_splash.png?m=n142021')}}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="{{ url_for('static', filename='images/splashscreens/iphonexr_splash.png?m=n142021')}}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{{ url_for('static', filename='images/splashscreens/iphonexsmax_splash.png?m=n142021')}}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
<link href="{{ url_for('static', filename='images/splashscreens/ipad_splash.png?m=n142021')}}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{{ url_for('static', filename='images/splashscreens/ipadpro1_splash.png?m=n142021')}}" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{{ url_for('static', filename='images/splashscreens/ipadpro3_splash.png?m=n142021')}}" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="{{ url_for('static', filename='images/splashscreens/ipadpro2_splash.png?m=n142021')}}" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />  -->