<div id="overview" class = "main-section row">
            
    <div id = "statistics" class ="main-col col-sm-12 col-lg-4">
        <div class = "heading">
            <h6 class = "label">Your work in progress</h6>
        </div>

        <div class = "col data">
            {% if user.articles.filter_by(archived=False).count() == 1%}
                <div class = "data-item">
                    <a href = "{{url_for('main.articles')}}">{{user.articles.filter_by(archived=False).count()}} article added</a>
                </div>
            {% else %}
                <div class = "data-item">
                    <a href = "{{url_for('main.articles')}}">{{user.articles.filter_by(archived=False).count()}} articles added</a>
                </div>
            {% endif %}

            {% set done_articles = user.articles.filter_by(archived=False, done=True).count() %}
            {% if done_articles == 1 %}
                <div class = "data-item">
                    <a href = "{{url_for('main.articles')}}">1 article read </a>
                </div>
            {% else %}
                <div class = "data-item">
                    <a href = "{{url_for('main.articles')}}">{{done_articles}} articles read </a>
                </div>
            {% endif %}
            
            <!-- {% if user.tags.count() == 1 %}
                <div class = "data-item">
                    <p>{{user.tags.filter_by(archived=False).count()}} tag </p>
                </div>
            {% else %}
                <div class = "data-item">
                    <p>{{user.tags.filter_by(archived=False).count()}} tags </p>
                </div>
            {% endif %} -->

            {% if user.highlights.count() == 1 %}
                <div class = "data-item">
                    <a href = "{{url_for('main.highlights')}}">{{user.highlights.filter_by(archived=False).count()}} highlight</a>
                </div>
            {% else %}
                <div class = "data-item">
                    <a href = "{{url_for('main.highlights')}}">{{user.highlights.filter_by(archived=False).count()}} highlights</a>
                </div>
            {% endif %}

            {% if  review_streak == 0 %}
                <div class = "data-item">
                    <a href = "{{url_for('main.review')}}">0 reviews this month</a>
                </div>
            {% elif review_streak == 1 %}
                <div class = "data-item">
                    <a href = "{{url_for('main.review')}}">{{review_streak}} highlight reviewed this month</a>
                </div>
            {% else %}
                <div class = "data-item">
                    <a href = "{{url_for('main.review')}}">{{review_streak}} highlights reviewed this month</a>
                </div>
            {% endif %}

            <!-- {% if user.topics.filter_by(archived=False).count() == 1 %}
                <div class = "data-item">
                    <a href = "{{url_for('main.highlights')}}">{{user.topics.filter_by(archived=False).count()}} topic</a>
                </div>
            {% else %}
                <div class = "data-item">
                    <a href = "{{url_for('main.highlights')}}">{{user.topics.filter_by(archived=False).count()}} topics</a>
                </div>
            {% endif %} -->
        </div>
    </div>
</div>