{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block content %}

    {% if user.articles.filter_by(archived=False).count() == 0 %}
        <div id = "articles_page">
            <div class="main-section articles-empty-row">
                <div class=" articles-empty-col col text-center">
                <span style="cursor: pointer;" onclick="rrtoggle()"><img id="rrface" class="mb-4"
                    src="{{url_for('static', filename='rr-100.png')}}" alt="" height="100"></span>
                <h1 id="rrtitle" class="h3 mb-3 font-weight-normal">Welcome to Lurnby</h1>
                <p>Lurnby helps you remember more of what you read. So let's start reading something!</p>
                <div class="actions">
                    <button class="main-button articles-empty-cta add-new" onclick="ViewAddArticle()">Add an article</button> 
                    <p>or</p>
                    <button class="main-button articles-empty-cta add-new" onclick="AddSuggestion()">Let us pick one for you.</button>
                </div>
                </div>    
                
            </div>
        </div>
    {% endif %}


    {% if user.articles.filter_by(archived=False).count() >= 1 %}
        <div id = "articles_page">
            <div id="overview" class = "main-section row">
            
                <div id = "statistics" class ="main-col col-sm-12 col-lg-4">
                    <div class = "heading">
                        <h6 class = "label">Your work in progress</h6>
                    </div>
            
                    <div class = "col data">
                        {% if user.articles.filter_by(archived=False).count() == 1%}
                            <div class = "data-item">
                                <p>{{user.articles.filter_by(archived=False).count()}} article added</p>
                            </div>
                        {% else %}
                            <div class = "data-item">
                                <p>{{user.articles.filter_by(archived=False).count()}} articles added</p>
                            </div>
                        {% endif %}
            
                        {% if done_articles|count == 1 %}
                            <div class = "data-item">
                                <p>{{done_articles|count}} article read </p>
                            </div>
                        {% else %}
                            <div class = "data-item">
                                <p>{{done_articles|count}} articles read </p>
                            </div>
                        {% endif %}
                        
                        {% if user.tags.count() == 1 %}
                            <div class = "data-item">
                                <p>{{user.tags.filter_by(archived=False).count()}} tag </p>
                            </div>
                        {% else %}
                            <div class = "data-item">
                                <p>{{user.tags.filter_by(archived=False).count()}} tags </p>
                            </div>
                        {% endif %}
            
                        {% if user.highlights.count() == 1 %}
                            <div class = "data-item">
                                <p>{{user.highlights.filter_by(archived=False).count()}} highlight</p>
                            </div>
                        {% else %}
                            <div class = "data-item">
                                <p>{{user.highlights.filter_by(archived=False).count()}} highlights</p>
                            </div>
                        {% endif %}
            
                        {% if user.topics.filter_by(archived=False).count() == 1 %}
                            <div class = "data-item">
                                <p>{{user.topics.filter_by(archived=False).count()}} topic</p>
                            </div>
                        {% else %}
                            <div class = "data-item">
                                <p>{{user.topics.filter_by(archived=False).count()}} topics</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div id = "articles_all" class = "main-section">
                <div class = "heading row">
                    <div class = "">
                        <h6>Articles</h6>
                        <button class="main-button cancel" onclick="ViewAddArticle()">Add new</button>
            
                    </div>

                    {% if user.tags.count() > 0 %}
                        <!-- Filters   -->
                        <div class = "filter-col">
                            <div id = "filter" class = "main-col filter">
                                <div class = "dropdown">
                                    <button class="filter-dropdown main-button " type="button" id="dropdownMenuButton" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                        Filter <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </button>
                                    <div class="dropdown-menu">
                                        <form >
                                            <div class = "tags">
                                                {% for tag in user.tags.all() %}
                                                <label for= "tag{{tag.id}}" class = "filter-tag untagged">{{tag.name}}<input type="checkbox" id = "tag{{tag.id}}" name = "tags" checked value="{{tag.id}}"></input></label>
                                                {% endfor %}
                                            </div>
                                            
                                            <br>
                                            <button type="button" class="main-button save"  data-dismiss="modal" onclick="filter()">apply filter</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id = "active_filters">
                                {% for tag in active_tags %}
                                    <span class = "active-tags">{{tag.name}}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End Filters   -->
                    {% endif %} 
                </div>
                    
                
                <hr>

                {% if unread_articles or read_articles %}
                {% if unread_articles %}
                <h6 class = "subheading">Recently read</h6>
                <div id = "articles">
                    {% for article in recent %}
                    {% set uuid = article['uuid'] %}
                
                    <div id = "article{{article['uuid']}}" class = "article_container row">
                        <div class="col">
                            <div class = "article_card">
                                
                                <div class="row article_title">
                                    <div class="col">
                                        
                                        {% if article['title']|length > 88 %}
                                            <h4>{{'%.88s' % article['title']}} ...</h4>
                                        {% else %}
                                            <h4>{{ article['title']}}</h4>
                                        {% endif %}
                                        <div class="underline"></div>

                                    </div>
                                </div>
                                
                                    
                                <div class="row article_data">
                                    <div class = "col-3">
                                        <h6>Read:</h6>
                                        <p class = "data">{{article['progress'] }}%</p>
                                    </div>
                                    <div class = "col-3">
                                        <h6>Highlights:</h6>
                                        <p class = "data">{{article['highlight_count']}}</p>
                                    </div>
                                    <div class = "col-3">
                                        <h6>Tags:</h6>
                                        <p class = "data">{{article['tag_count']}}</p>
                                    </div>
                                </div>
                            </div>
                            <div id = "open">
                            
                                <a class = "main-button edit" type="button" onclick = "ViewArticle('{{uuid}}')"href="#">Details</a>
                                <a class = "main-button" type="button" href="{{url_for('main.article', uuid=article['uuid'])}}">Start reading</a>
                
                            </div>
                        </div>
                    </div>
                
                    {% endfor %}
                </div>
                {% endif %}
                
                <h6 class = "subheading">Reading</h6>
                    <div class = "articles_section">
                    
                        <div id = "articles">
                            {% for article in unread_articles %}
                            {% set uuid = article['uuid'] %}
                        
                            <div id = "article{{uuid}}" class = "article_container row">
                                <div class="col">
                                    <div class = "article_card">
                                        
                                        <div class="row article_title">
                                            <div class="col">
                                                
                                                {% if article['title']|length > 88 %}
                                                    <h4>{{'%.88s' % article['title']}} ...</h4>
                                                {% else %}
                                                    <h4>{{ article['title']}}</h4>
                                                {% endif %}
                                                
                                                <div class="underline"></div>
                                                    <span class = "label"><p>New</p></span>
                                            </div>
                                        </div>
                                        
                                            
                                        <div class="row article_data">
                                            <div class = "col-3">
                                                <h6>Read:</h6>
                                                <p class = "data">{{article['progress']}}%</p>
                                            </div>
                                            <div class = "col-3">
                                                <h6>Highlights:</h6>
                                                <p class = "data">{{article['highlight_count']}}</p>
                                            </div>
                                            <div class = "col-3">
                                                <h6>Tags:</h6>
                                                <p class = "data">{{article['tag_count']}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id = "open">
                                    
                                        <a class = "main-button edit" type="button" onclick = "ViewArticle('{{uuid}}')"href="#">Details</a>
                                        <a class = "main-button" type="button" href="{{url_for('main.article', uuid=uuid)}}">Start reading</a>
                        
                                    </div>
                                </div>
                            </div>
                        
                            {% endfor %}
                            {% for article in read_articles %}
                            {% set uuid = article['uuid']%}
                            <div id = "article{{uuid}}" class = "article_container row">
                                <div class="col">
                                    <div class = "article_card">
                                    
                                        <div class="row article_title">
                                            <div class="col">
                                                {% if article['title']|length > 88 %}
                                                    <h4>{{'%.88s' % article['title']}} ...</h4>
                                                {% else %}
                                                    <h4>{{ article['title']}}</h4>
                                                {% endif %}
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        
                                            
                                        <div class="row article_data">
                                            <div class = "col-3">
                                                <h6>Read:</h6>
                                                <p class = "data">{{article['progress']}}%</p>
                                            </div>
                                            <div class = "col-3">
                                                <h6>Highlights:</h6>
                                                <p class = "data">{{article['highlight_count']}}</p>
                                            </div>
                                            <div class = "col-3">
                                                <h6>Tags:</h6>
                                                <p class = "data">{{article['tag_count']}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id = "open">
                                    
                                        <a class = "main-button edit" type="button" onclick = "ViewArticle('{{uuid}}')"href="#">Details</a>
                                        <a class = "main-button" type="button" href="{{url_for('main.article', uuid=uuid)}}">Start reading</a>
                                    </div>
                                </div>
                            </div>
                        
                            {% endfor %}  
                        </div>
                    </div>
                {% endif %}
            
                {% if done_articles %}
                    <hr>
                    <h6 class = "subheading">Read</h6>
                    <div class = "articles_section">
                        <div class = "heading">
                        </div>
                
                        <div id = "done_articles">
                            {% for article in done_articles %}
                            {% set uuid = article['uuid']%}

                            <div id = "article{{article.uuid}}" class = "article_container row">
                                <div class="col">
                                    <div class = "article_card">
                                    
                                        <div class="row article_title">
                                            <div class="col">
                                                {% if article['title']|length > 88 %}
                                                <h4>{{'%.88s' % article['title']}} ...</h4>
                                                {% else %}
                                                <h4>{{ article['title']}}</h4>
                                                {% endif %}
                                                <div class="underline"></div>
                                            </div>
                                        </div>
                                        
                                            
                                        <div class="row article_data">
                                            <div class = "col-3">
                                                <h6>Read:</h6>
                                                <p class = "data">{{article['progress']}}%</p>
                                            </div>
                                            <div class = "col-3">
                                                <h6>Highlights:</h6>
                                                <p class = "data">{{article['highlights_count']}}</p>
                                            </div>
                                            <div class = "col-3">
                                                <h6>Tags:</h6>
                                                <p class = "data">{{article['tag_count']}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id = "open">
                                    
                                        <a class = "main-button edit" type="button" onclick = "ViewArticle('{{uuid}}')"href="#">Details</a>
                                        <a class = "main-button" type="button" href="{{url_for('main.article', uuid=uuid)}}">Start reading</a>
                                    </div>
                                </div>
                            </div>
                                
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            
          
            
            
        </div>
          
    {% endif %}
    
    <div class="lurnby_modal modal" id = "edit_article" tabindex="-1">           
    </div>
    
    <div class="lurby_modal modal" id = "add_article" tabindex="-1"> 
    </div>

    {% endblock%}


{% block JS %}
    <script text="javascript" src = "{{url_for('static', filename='articles.js') }}"> </script>
    <script text="javascript" src = "{{url_for('static', filename='fileinput.js') }}"> </script>
    
{% endblock %}