{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block content %}
<div class=" pushdown">
    {% if current_user.firstname %}
    <h1> Hello {{ current_user.firstname }}</h1>
    {% else %}
    <h1> Hello {{ current_user.username }}</h1>
    {% endif %}
    <hr>
    <div class="card" style="width: 18rem; margin-top: 2rem;">
        <div class="card-header">
            Unread
        </div>
        <ul class="list-group list-group-flush">
            {% for article in unread_articles %}
            <a href="{{url_for('article', id=article.id)}}" class="list-group-item list-group-item-action">{{article.title}}</a>
            {% endfor %}
        </ul>
    </div>
    
    <div class="card" style="width: 18rem; margin-top: 2rem;">
        <div class="card-header">
            Read
        </div>
        <ul class="list-group list-group-flush">
            {% for article in read_articles %}
            <a href="{{url_for('article', id=article.id)}}" class="list-group-item list-group-item-action">{{article.title}}</a>
            {% endfor %}
        </ul>
    </div>


{% endblock%}

{% block JS %}


{% endblock %}