<!doctype html>
<html lang="en">
  <head>
    <title>A Learning Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- DO I NEED THESE? -->
    <link rel="icon" href="{{url_for('static', filename='rrbetterface-32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='rrbetterface-32.png') }}">
    
    <!-- PWA STUFF  -->
    <link rel="manifest" href="{{ url_for('static', filename='lurnby.webmanifest') }}">

    <!-- IOS PWA STUFF  -->
    {% include '_ios_splash.html' %}
    
    
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" >
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />

    <!-- Custom styles for this template -->
    <script src="https://cdn.tiny.cloud/1/z3w5itow1aft9ouoq41ln5h5qw1e2tlqfvsi726u6dij5ilu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/static/app.js" defer></script>


    {% block style %}{% endblock%}
</head>
  <body class="{% if session['darkMode'] %} dark {% endif %} ">
    
    <div id = "base-main" class="container-fluid">
      {% if topnav != False %}
      <nav id = "navigation" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-between">
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="{{ url_for('main.articles') }}">Lurnby</a>
        {% else %}
        <a class="navbar-brand" href="{{ url_for('dotcom.index') }}">Lurnby</a>
        {% endif %}

        <button class="navbar-toggler order-3" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
          {% if current_user.is_authenticated %}
              <button id = "feedback" data-toggle="modal" data-target="#FeedbackModal" class=" order-1 feedback">
                  <img src="{{url_for('static', filename='images/rrfeedback-40.png') }}">
              </button>
              <button role="button" id="darkModeToggle" class="order-2 mr-auto">
                {% if session['darkMode']%}
                <img id="darkModeIcon" src="{{url_for('static', filename='images/darkModeOn.png') }}">
                {% else %}
                <img id="darkModeIcon" src="{{url_for('static', filename='images/darkModeOff.png') }}">
                {% endif %}
              </button>
            {% endif %}
             
        <div class="collapse order-3 navbar-collapse" id="navbarsExampleDefault">
          {% if current_user.is_authenticated %}
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.highlights' )}}">Highlights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.review' )}}">Review</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.tags' )}}">Tags</a>
            </li>

            {% if current_user.admin%}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.user_dashboard' )}}">App Dashboard</a>
            </li>
            {% endif %}

          </ul>
          {% endif %}
          
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <a class="nav-link" target = "_blank" href="https://www.patreon.com/lurnby">Donate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.resources' )}}">Guides</a>
            </li>
            {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('settings.settings_account') }}">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% endif %}
          </ul>
              
        </div>
      </nav>
      {% else %}
      <nav id = "navigation" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-between">
        <span class="navbar-brand">Lurnby</span>          
      </nav>
      {% endif %}
      <div id = "flashMessages" class="flash-messages">

        {% with messages = get_flashed_messages(category_filter=["message"]) %}
          {% if messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
          {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endwith %}
        {% with errors = get_flashed_messages(category_filter=['error']) %}
          {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <ul>
              {% for error in errors %}
                <li>{{ error|safe }}</li>
              {% endfor %}
              </ul>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endwith %}
      </div>
      
      <div id="base_content" {% if padding_bottom == False %} {% else %}style="padding-bottom: 150px;"{% endif %}>
        {% block content %}{% endblock %}
      </div>
      {% if footer == false %}
      {% else %}
      <div class="lurnby-footer">
        <div class="terms">
          <a href="{{url_for('content.terms')}}">Terms of Service</a>
          <a href="{{url_for('content.privacy')}}">Privacy Policy</a>
          <a href="{{url_for('content.ipp')}}">Intellectual Property</a>
        </div>
        <p>© {{now.year}} Lurnby All rights reserved.</p>
      </div>
      {% endif %}
      {% if current_user.is_authenticated %}
      <!--  Feedback Modal Code  -->
      <div class="lurnby_modal modal fade" id="FeedbackModal" tabindex="-1" role="dialog" aria-labelledby="FeedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="FeedbackModalLabel">Woot Woot! You found the 🐞 feedback🐞 form!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form  class = "main-form" id = "FeedbackForm" action="" method="post">
                <input type="text" id = "user-email" class="hidden" value="{{ current_user.email }}"/>

                <div class=" lurnby_data_group form-group">
                  <h6>What can I improve on this page? (or elsewhere)?</h6>
                  <textarea id="feedback-text"></textarea>
                </div>
              
                          
            </div>
            <div class="modal-footer">
              <button type="button"  class="main-button cancel" data-dismiss="modal">Cancel</button>
              <button id = "FeedbackSubmit" type="button" data-dismiss="modal" class="main-button save heart-hover">Add</button>
            </div>
          </form>
          </div>
        </div>
      </div>

      {% endif %}
      <!-- End Feedback Modal   -->

      {% if not current_user.tos and terms_modal == True %}
      {% include "/legal/_tos_modal.html" %}
      {% endif %}

      <script>
        const byId = function(id){
            return document.getElementById(id);
        };

        const byClass = function(classname){
            return document.getElementsByClassName(classname);
        };


        /* feedback form */
        var feedbacksubmit = byId('FeedbackSubmit');

        feedbacksubmit.addEventListener('click', send_feedback);


        function send_feedback(){
          
          var feedbacktext = byId('feedback-text')
          var email = byId('user-email')
          var url = window.location.pathname
          
          var data = {
          'feedback':feedbacktext.value,
          'email': email.value,
          'url':url
          }

          $.post('/app/feedback', {
            'data':JSON.stringify(data)
          }).done(function( data ) {
            feedbacktext.value = '';


          });

        }

        /* feedback end */




      </script>
      
      <script
			  src="https://code.jquery.com/jquery-3.5.1.js"
			  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			  crossorigin="anonymous"></script>
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>      
      
      <script text="javascript" src = "{{url_for('static', filename='js/accept_tos.js') }}"> </script>
      <script text="javascript" src = "{{url_for('static', filename='js/copyToClipboard.js') }}"> </script>

      <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
    
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });


        function create_alert(type, message){
          var alert = document.createElement('div')
          alert.classList.add('main-alert', 'alert','fade','show','alert-dismissable', type)
          alert.setAttribute('role', 'alert')
          alert.innerHTML = message
          return alert
        }

        const setDarkModeCookie = (onOrOff, autoOff='on') =>{
          url = `dark-mode?setting=${onOrOff}&auto=${autoOff}`
          fetch(url)
        }
        {% if session['darkModeAutoOff'] %}
        let darkModeOnAuto = false;
        {% else %}
        let darkModeOnAuto = true;
        {% endif %}


        const turnOnDarkMode = () => {
          darkModeOnAuto = false
          if(darkModeOn()){
            byId('darkModeIcon').src = '{{ url_for('static', filename="images/darkModeOff.png") }}'
            byId('darkModeToggle').classList.remove('darkModeOn')
            document.body.classList.remove('dark')
            setDarkModeCookie('off', 'off')

          }
          else{
            byId('darkModeIcon').src = '{{ url_for('static', filename="images/darkModeOn.png") }}'
            byId('darkModeToggle').classList.add('darkModeOn')
            document.body.classList.add('dark')
            setDarkModeCookie('on', 'off')
          }
        }

        const darkModeOn = () => {
          return document.body.classList.contains('dark') ? true : false;
        }

        const shouldEnableDarkMode = () => {

          if (!darkModeOnAuto){
            return
          }

          const now = new Date().getHours()
          const enableDarkMode = now >= 18 || now <= 8 
          if(enableDarkMode){
            if(!darkModeOn()){
              byId('darkModeIcon').src = '{{ url_for('static', filename="images/darkModeOn.png") }}'
              byId('darkModeToggle').classList.add('darkModeOn')
              document.body.classList.add('dark')
              setDarkModeCookie('on')

            }
          }
          else{
            if(darkModeOn()){
              byId('darkModeIcon').src = '{{ url_for('static', filename="images/darkModeOff.png") }}'
              byId('darkModeToggle').classList.remove('darkModeOn')
              document.body.classList.remove('dark')
              setDarkModeCookie('off')
            }
          }
        }
        shouldEnableDarkMode()
        byId('darkModeToggle').addEventListener('click', turnOnDarkMode)

        function rrtoggle() {

        var rr = document.getElementById('rrface')
        var title = document.getElementById('rrtitle')

        title.innerHTML = "... Hello old friend! It's really good to see you once again ..."
        rr.classList.toggle('star')
        }

      </script>
      {% block JS %}
      
      {% endblock %}
    </div>
 </body>
</html>