<div class="modal-lg modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ViewHighlightModalLabel">View Highlight</h5>
        <a href = "" class = "close" type="button" onclick="closeHighlight()">
          &times;
        </a>
      </div>
      <div class="modal-body">
        <h3>From: {{ article_title}}</h3>
        <hr>
        {% if source_url %}
        <p>
            <h4 style = "display:inline;">Original source:</h4> <a href="{{source_url}}" target="_blank">Open in new window</a>
        
        </p>
        {% else %}
        <p>
          <h4 style = "display:inline;">Original source:</h4> {{source}}
      
      </p>

        {% endif %}
        <p>
            <h4 style = "display:inline;"> View Content in App:</h4> <a href="{{ inappurl }}">Open</a>
        </p>    
        <hr>      
        <form  id = "SubmitHighlightForm" action="" method="post">
           {{ form.hidden_tag() }} 
          
        <h4>Highlight text:</h4>
        <hr>
          <div class="form-group">
            {{ form.text(class="form-control", id="HighlightField") }}
          </div>
          <br>
          <h4>Note or Comment</h4>

          <div class="form-group">
            {{ form.note(class="form-control", id="message-text") }}              
          </div>
          <h4>In the following topics:</h4>
          <div id = "Members" class="btn-group-toggle" data-toggle="buttons">
            {% for m in member %}
            <label id = "topic{{ m.id }}"class="topic-member btn btn-default">
              <span onclick="RemoveFromTopic(topic{{ m.id }})"><input name = "topics" type="checkbox" checked value="{{member.title}}">
              {{m.title}} <span class="topic-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
            </span></label>
            {% endfor %}        
          </div>
          <h4>Not in the following topics:</h4>
          <div id ="NonMembers" class="btn-group-toggle" data-toggle="buttons">
            {% for n in nonmember %}
            <label id = "topic{{ n.id }}" class="topic-non-member btn btn-default">
              <span onclick="AddToTopic(topic{{ n.id }})"><input name = "topics" type="checkbox" checked value="{{nonmember.title}}">
              {{n.title}} <span class="topic-icon"><i class="fa fa-plus fa-xs" aria-hidden="true"></i></span>
            </span></label>
            {% endfor %}        
          </div>
          
      </div>
      <div class="modal-footer">
        <a href="{{url_for('archivehighlight', id = highlight.id )}} " type="button" class="btn btn-danger mr-auto">{% if member|length > 1 %}Delete from {{member|length}} topics{% else %}Delete{% endif %}</a>
        <a href = "" type="button" onclick ="closeHighlight()" class="btn btn-outline-secondary">Cancel</a>
        <button type="button" onclick="" class="btn btn-primary">Update</button>
      </div>
    </form>
    </div>
  </div>

  