{% extends "base.html" %}

<!--------------->
<!--  styles   -->
<!--------------->
{% block style %}
<style>
   
    .highlight-section {
        display: flex;
        flex-wrap: wrap;
    }
    


    .highlight-card {
        background: white;
        max-width: 350px;
        margin-right: 16px;
    }

    @media(max-width: 566px){
        .highlight-card {
            max-width: 375px;
            margin-right: 4px;
        }
    }

    .highlight-card .main-button {
        margin-left:0px;
    }


    .topic {
        font-weight: 100;
        font-size: 0.8rem;
        padding: 4px 8px;
        display: inline-block;
        text-align: center;
        background: #FFF79F;
        margin: 0px 4px 4px 0px;

    }
    .topic.filter:hover {
        cursor: pointer;
        color: white;
        background-color: black;
    }


    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
    }
    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }

    .filter_form {
        display: flex;
        flex-wrap: wrap;
    }

    .filter_form input{
        padding-left: 4px;
        padding-bottom: 4px;
        width: 200px;
    }

    @media (max-width: 566px){
        #export {
            margin-top: 16px;
        }

        #export .main-button{
          margin-left: 0px;
          margin-right: 16px;
        }
    }

</style>

{% endblock %}


{% block content %}

<!------------------------------->
<!--   check for empty state   -->
<!------------------------------->

{% if highlights_count == 0 %}
<div id = "highlights_page">
    <div class="main-section lurnby-empty-row">
        <div class=" lurnby-empty-col col text-center">
            <span style="cursor: pointer;" onclick="rrtoggle()"><img id="rrface" class="mb-4"
                src="{{url_for('static', filename='rrbetterface2.png')}}" alt="" height="100"></span>
            <h1 id="rrtitle" class="h3 mb-3 font-weight-normal">You don't have any highlights yet!</h1>
            <p>Ever tried, ever failed, no matter,<br> try again, fail again, fail better.<br>Samuel Beckett</p>
                <a href = "{{url_for('main.articles')}}" class="main-button articles-empty-cta add-new">Start by reading an article.</a>
        </div>
    </div>
</div>
{% endif %}

<!-------------------->
<!--   Statistics   -->
<!-------------------->

{% if highlights_count >= 1 %}
<div id = "highlights_page">
    <div id="overview" class = "main-section row">
    
        <div id = "statistics" class ="main-col col-sm-12 col-lg-4">
            <div class = "heading">
                <h6 class = "label">Your work in progress</h6>
            </div>
    
            <div class = "col data">
                {% if articles_count == 1%}
                    <div class = "data-item">
                        <p>{{articles_count}} article added</p>
                    </div>
                {% else %}
                    <div class = "data-item">
                        <p>{{articles_count}} articles added</p>
                    </div>
                {% endif %}
    
                {% if tags_count == 1 %}
                    <div class = "data-item">
                        <p>{{tags_count}} tag </p>
                    </div>
                {% else %}
                    <div class = "data-item">
                        <p>{{tags_count}} tags </p>
                    </div>
                {% endif %}
    
                {% if highlights_count == 1 %}
                    <div class = "data-item">
                        <p>{{highlights_count}} highlight</p>
                    </div>
                {% else %}
                    <div class = "data-item">
                        <p>{{highlights_count}} highlights</p>
                    </div>
                {% endif %}
                {% if topics_count == 1 %}
                    <div class = "data-item">
                        <p>{{topics_count}} topic</p>
                    </div>
                {% else %}
                    <div class = "data-item">
                        <p>{{topics_count}} topics</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!---------------------->
    <!--   main section   -->
    <!---------------------->
    <div id="filters" class="main-section">
        <div class="autocomplete">
            <div class="filter_form" >
                <input id = "filter_input" type="text" placeholder="Filter by topic ..."> 
                <button class="main-button" onclick="apply_filters()">Apply filter</button>
                <span id="export">
                    <button id="export-button" class="main-button hidden" onclick="export_method()">Export these highlights</button>
                </span>
            </div>
        </div>
        <div id="active_filters"></div>
    </div>

    <div id = "highlights_all" class = "main-section">
        {% if no_topics|length > 0 %}
        <h6 class = "subheading">Highlights without topics</h6>
        {% endif %}
        <div class = "highlight-section">
            {% for highlight in no_topics %}
            <div id="highlight-{{highlight.id}}" class="highlight-card">
                <div class="highlight-header">
                    <h6>From: {{ highlight.article.title}}</h6>
                    <div class="underline"></div>
                </div>
                <div class="highlight-content">
                    <p>{{highlight.text}}</p>
    
                    <div id ="highlight-{{highlight.id}}-actions" class="highlight-actions">
                        <button class="main-button view_highlight" onclick="ViewHighlight({{ highlight.id }})">View Details</button>
                    </div>
                </div>
            </div>   
            {% endfor %}
        </div>
        {% if with_topics|length > 0 %}
        <h6 class = "subheading">Highlights with topics</h6>
        <div class = "highlight-section">
            {% for highlight in with_topics %}
            <div id="highlight-{{highlight.id}}" class="highlight-card">
                <div class="highlight-header">
                    <h6>From: {{ highlight.article.title}}</h6>
                    <div class="underline"></div>
                </div>
                <div class="highlight-content">
                    <p>{{highlight.text}}</p>
                    <div class="highlight-topics">
                        <h6>Topics:</h6>
                        {% for topic in highlight.topics.filter_by(archived=False).all() %}
                            <p class = "topic">{{topic.title}}</p>
                        {% endfor %}

                    </div>
                    <div id ="highlight-{{highlight.id}}-actions" class="highlight-actions">
                        <button class="main-button view_highlight" onclick="ViewHighlight({{ highlight.id }})">View Details</button>
                    </div>
                </div>
            </div>   
            {% endfor %}
        </div>
        {% endif %}
    


    </div>

</div>
<div class="modal" id="ViewHighlightModal" tabindex="-1" role="dialog" aria-labelledby="ViewHighlightModalLabel" aria-hidden="true"> 
</div>
{% endif %}
{% endblock%}

{% block JS %}
<script>
    var topics = [ {% for t in topics %}'{{t.title}}',{%endfor%}]
    active_filters = byId('active_filters')
    var filters = []

    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                var x = arr[i]
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].toUpperCase().includes(val.toUpperCase())) {
                /*create a DIV element for each matching element:*/
                b = document.createElement("DIV");
                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML = x
                /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                        e=e || window.event;
                        var elem = e.target || e.srcElement;

                    /*insert the value for the autocomplete text field:*/
                    if (!filters.includes(elem.innerHTML)){
                        filters.push(elem.innerHTML)
                        t = document.createElement('span')
                        t.classList.add('topic')
                        t.classList.add('filter')
                        t.innerHTML = elem.innerHTML
                        t.id = 'topic'+elem.innerHTML
                        t.addEventListener('click', function(e){
                            e=e || window.event;
                            var target = e.target || e.srcElement;
                            var rem = target.id.slice(5)
                            filters = filters.filter(elem => elem !== rem);
                            byId(target.id).remove()
                        })
                        active_filters.appendChild(t)
                        byId('filter_input').value = ''
                        byId('filter_input').focus()
                    }
                    
                    /*close the list of autocompleted values,
                    (or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
            }
        }
    }
    
    
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
    } 

    autocomplete(document.getElementById("filter_input"), topics);

    function export_method(){
        byId('export').innerHTML=`
        <button type = "button" class = "main-button" onclick="export_highlights('json')">Export as JSON</button>
        <button type = "button" class = "main-button" onclick="export_highlights('txt')">Export as TXT</button>
        ` 
    }   

    function export_highlights(ext){
        data = {
            'topic_export': true,
            'filters':filters,
            'ext': ext
        }

        $.post('/export_highlights', {
            'data':JSON.stringify(data)
        }).done(function(data){
            data = JSON.parse(data)
            byId('flashMessages').innerHTML=`
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <ul>
                <li>${data['msg']}</li>
              </ul>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>`
            byId('export').innerHTML=`<button id="export-button" class="main-button hidden" onclick="export_method()">Export these highlights</button>`
        }).fail(function(data){
            data = JSON.parse(data)
            byId('flashMessages').innerHTML=`
            <div class="alert alert-error alert-dismissible fade show" role="alert">
              <ul>
                  <li>${data['msg']}</li>
              </ul>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>`
            byId('export').innerHTML=`<button id="export-button" class="main-button hidden" onclick="export_method()">Export these highlights</button>`
        }); 
    }

    function apply_filters(){
        console.log('applying filters')
        data = JSON.stringify({'filters':filters})
        console.log(filters.length)
        var a = byId('highlights_all');
        a.innerHTML = `<div style = "display: block; text-align:center; float:center; margin:auto; margin-top: 88px; padding:88px; background: white; border:black 2px solid; width: 500px;">
                            <p>Getting your highlights now ...</p>
                            <img id="rrface" class="star mb-4" src="{{url_for('static', filename='rr-100.png')}}" alt="" height="100">
                       </div>`;


        $.post('/highlights', {
            'data':data
        }).done(function( data ) {
            data = JSON.parse(data)
            if (filters.length == 0) {
                byId('export-button').classList.add('hidden')
            }
            if(data['highlights_count'] == 0){
                a.innerHTML = `<div style = "display: block; text-align:center; margin:auto; margin-top: 0px; padding:88px; background: white; border:black 2px solid; width: 500px;">
                            <span style="cursor: pointer;" onclick="rrtoggle()"><img id="rrface" class="mb-4"
                src="{{url_for('static', filename='rrbetterface2.png')}}" alt="" height="100"></span>
                <p>No highlights with these topics.</p>

                       </div>`
            }
            else {
                if (filters.length > 0) {
                    byId('export-button').classList.remove('hidden')
                }
                a.innerHTML = data['html']
            }
            
            topics = data['topics']
            autocomplete(document.getElementById("filter_input"), topics);
        }); 


    }

</script>


<script type="text/javascript" src="{{url_for( 'static', filename='updatehighlight.js' )}}"></script>
<script type="text/javascript" src="{{url_for( 'static', filename='tag.js' )}}"></script>
<script type="text/javascript" src="{{url_for( 'static', filename='topic.js' )}}"></script>
{% endblock %}