{% extends "base.html" %}

<!--------------->
<!--  styles   -->
<!--------------->
{% block style %}

{% endblock %}


{% block content %}

<!------------------------------->
<!--   check for empty state   -->
<!------------------------------->

{% if filtered_count == 0 %}
<div id = "highlights_page">
    <div class="main-section lurnby-empty-row">
        <div class=" lurnby-empty-col col text-center">
            <span style="cursor: pointer;" onclick="rrtoggle()"><img id="rrface" class="mb-4"
                src="{{url_for('static', filename='rrbetterface2.png')}}" alt="" height="100"></span>
            <h1 id="rrtitle" class="h3 mb-3 font-weight-normal">You don't have any highlights yet!</h1>
            <p>Ever tried, ever failed, no matter,<br> try again, fail again, fail better.<br>Samuel Beckett</p>
                <a href = "{{url_for('main.articles')}}" class="main-button articles-empty-cta add-new">Start by reading an article.</a>
        </div>
    </div>
</div>
{% endif %}

<!-------------------->
<!--   Statistics   -->
<!-------------------->

{% if filtered_count >= 1 %}
<div id = "highlights_page">
    {% include '_overview.html'%}


    <!---------------------->
    <!--   main section   -->
    <!---------------------->
    <div class = "main-section no-bottom">
        <div class = "heading row">
            <div id="filters" class="all-filters">
    
                <div class = "lurnby-filter">
                    <span>Show 
                        <select id = "per_page">
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="all">all</option>
                        </select> highlights
                    </span>
                </div>
        
                <div class="lurnby-filter">
                    <input type="hidden" id="created_sort_value"/>
                    <span>Sort By: 
                        <button id="created_sort" class="main-button sort-button"><span>Date Created</span></button>
                    </span>
                </div>
        
                <div class="lurnby-filter">
                    <span>Status:  
                        <select id = "has_topics">
                            <option value="all">All</option>
                            <option value="no_topics">Without Topics</option>
                            <option value="with_topics">With Topics</option>                    
                        </select>
                    </span> 
                </div>
                
                <div class="lurnby-filter">
                    <label for="search">Search:</label><input type="text" id="search">
                </div>
                <div class="lurnby-filter">
                    <span id="visible_highlights_count"> Showing <span id="showing_count">{{showing_count}}</span> out of <span id="filtered_count"> {{filtered_count}}</span> highlights.</span>
                </div>
        
                {% if current_user.topics.count() > 0 %}
                <div class = "lurnby-filter">
                    <div class="autocomplete">
                        <div class="filter_form" >
                            <input id = "filter_input" type="text" placeholder="Filter by topic ..."> 
                            <button id="filter_submit" class="main-button" onclick="apply_filters()">Apply filter</button>
                        </div>
                    </div>
                </div>
                <div class="lurnby-filter">
                    <span id="export">
                        <button id="export-button" class="main-button hidden" onclick="export_method()">Export these highlights</button>
                    </span>
                </div>
                
                <div id="active_filters" class = "lurnby-filter width-100"></div>
                {% endif %}
            </div>
        </div>
    </div>


    

    <div id = "highlights_all" class = "main-section">
        {% include 'filter_highlights.html' %}
    </div>

</div>
<div class="modal" id="ViewHighlightModal" tabindex="-1" role="dialog" aria-labelledby="ViewHighlightModalLabel" aria-hidden="true"> 
</div>
{% endif %}
{% endblock%}

{% block JS %}
<script>
    var page = 1
    var topics = [ {% for t in topics %}'{{t.title}}',{% endfor %}]
    active_filters = byId('active_filters')
    var filters = []


    ///////////////////////////////////////////////////
    //                                               //
    //   function for choosing sort asc or descend   //
    //                                               //
    ///////////////////////////////////////////////////

    function paginate(n){
        page = n
        apply_filters()
    }

    sort_items = Array.from(document.querySelectorAll('.sort-button'))
    
    sort_items.forEach(function(item){
        item.addEventListener('click', function(){
            if(!(item.classList.contains('sort_asc')) && 
                !(item.classList.contains('sort_desc'))){
                item.classList.add('sort_desc')
                
                // set hidden input values
                if (item.id == 'title_sort'){
                    byId('title_sort_value').value = 'desc'

                }
                else if(item.id == 'last_opened_sort'){
                    byId('opened_sort_value').value = 'desc'
                }
            }
            else if (item.classList.contains('sort_desc')){
                item.classList.remove('sort_desc')
                item.classList.add('sort_asc')

                // set hidden input values
                if (item.id == 'title_sort'){
                    byId('title_sort_value').value = 'asc'
                }
                else if(item.id == 'last_opened_sort'){
                    byId('opened_sort_value').value = 'asc'
                }

            }
            else if(item.classList.contains('sort_asc')){
                item.classList.remove('sort_asc')

                // set hidden input values
                if (item.id == 'title_sort'){
                    byId('title_sort_value').value = ''
                }
                else if(item.id == 'last_opened_sort'){
                    byId('opened_sort_value').value = ''
                }

            }
        })
    })

    //////////////////////
    //                  //
    //   Autocomplete   //
    //                  //
    //////////////////////


    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                var x = arr[i]
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].toUpperCase().includes(val.toUpperCase())) {
                /*create a DIV element for each matching element:*/
                b = document.createElement("DIV");
                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML = x
                /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                        e=e || window.event;
                        var elem = e.target || e.srcElement;

                    /*insert the value for the autocomplete text field:*/
                    if (!filters.includes(elem.innerHTML)){
                        filters.push(elem.innerHTML)
                        t = document.createElement('span')
                        t.classList.add('topic')
                        t.classList.add('filter')
                        t.innerHTML = elem.innerHTML
                        t.id = 'topic'+elem.innerHTML
                        t.addEventListener('click', function(e){
                            e=e || window.event;
                            var target = e.target || e.srcElement;
                            var rem = target.id.slice(5)
                            filters = filters.filter(elem => elem !== rem);
                            byId(target.id).remove()
                        })
                        active_filters.appendChild(t)
                        byId('filter_input').value = ''
                        byId('filter_input').focus()
                    }
                    
                    /*close the list of autocompleted values,
                    (or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
            }
        }
    }
    
    
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
    } 

    autocomplete(document.getElementById("filter_input"), topics);

    function export_method(){
        byId('export').innerHTML=`
        <button type = "button" class = "main-button" onclick="export_highlights('json')">Export as JSON</button>
        <button type = "button" class = "main-button" onclick="export_highlights('txt')">Export as TXT</button>
        ` 
    }   

    function export_highlights(ext){
        data = {
            'topic_export': true,
            'filters':filters,
            'ext': ext,
            'search':byId('search').value,
            'created_sort':byId('created_sort_value').value,
            'has_topics': byId('has_topics').value,
            'per_page': byId('per_page').value,
            'page': page
        
        }

        $.post('/export_highlights', {
            'data':JSON.stringify(data)
        }).done(function(data){
            data = JSON.parse(data)
            byId('flashMessages').innerHTML=`
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <ul>
                <li>${data['msg']}</li>
              </ul>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>`
            byId('export').innerHTML=`<button id="export-button" class="main-button hidden" onclick="export_method()">Export these highlights</button>`
        }).fail(function(data){
            data = JSON.parse(data)
            byId('flashMessages').innerHTML=`
            <div class="alert alert-error alert-dismissible fade show" role="alert">
              <ul>
                  <li>${data['msg']}</li>
              </ul>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>`
            byId('export').innerHTML=`<button id="export-button" class="main-button hidden" onclick="export_method()">Export these highlights</button>`
        }); 
    }

    function apply_filters(){        
        if(typeof page === 'undefined'){
            page = null
        }

        data = {
            'filters':filters,
            'search':byId('search').value,
            'created_sort':byId('created_sort_value').value,
            'has_topics': byId('has_topics').value,
            'per_page': byId('per_page').value,
            'page': page
        }

        data = JSON.stringify(data)
        
        var a = byId('highlights_all');
        a.innerHTML = `<div style = "display: block; text-align:center; float:center; margin:auto; margin-top: 88px; padding:88px; background: white; border:black 2px solid; width: 500px;">
                            <p>Getting your highlights now ...</p>
                            <img id="rrface" class="star mb-4" src="{{url_for('static', filename='rr-100.png')}}" alt="" height="100">
                       </div>`;


        $.post('/highlights', {
            'data':data
        }).done(function( data ) {
            data = JSON.parse(data)
            
            if(data['filtered_count'] == 0){
                a.innerHTML = `<div style = "display: block; text-align:center; margin:auto; margin-top: 0px; padding:88px; background: white; border:black 2px solid; width: 500px;">
                            <span style="cursor: pointer;" onclick="rrtoggle()"><img id="rrface" class="mb-4"
                src="{{url_for('static', filename='rrbetterface2.png')}}" alt="" height="100"></span>
                <p>No highlights found.</p>
                       </div>`
                byId('export-button').classList.add('hidden')
                byId('showing_count').innerHTML = '0'
            }
            else {
                byId('export-button').classList.remove('hidden')
                
                a.innerHTML = data['html']
                
                byId('showing_count').innerHTML = data['showing_count']
                if(!data['has_next']){
                    byId('has_next').setAttribute('disabled', true)
                    byId('has_next').setAttribute('title', 'This is the last page')
                }
            }

            byId('filtered_count').innerHTML = data['filtered_count']
            
           
            topics = data['topics']
            autocomplete(document.getElementById("filter_input"), topics);
        }); 


    }

</script>


<script type="text/javascript" src="{{url_for( 'static', filename='updatehighlight.js' )}}"></script>
<script type="text/javascript" src="{{url_for( 'static', filename='tag.js' )}}"></script>
<script type="text/javascript" src="{{url_for( 'static', filename='topic.js' )}}"></script>
{% endblock %}