{% extends "base.html" %}

{% block style%}
<link href="https://getbootstrap.com/docs/4.4/examples/floating-labels/floating-labels.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="form-signin" action="" method="post" novalidate>
  <div class="text-center mb-4">
    <span style="cursor: pointer;" onclick="rrtoggle()"><img id = "rrface" class="mb-4 star" src="{{url_for('static', filename='rrbetterface2.png')}}" alt="" height="100"></span>
    <h1 class="h3 mb-3 font-weight-normal">A Learning Tool</h1>
    <p>Ever tried, ever failed, no matter,<br> try again, fail again, fail better.<br>Samuel Beckett</p>
  </div>

  <div class="form-label-group">
    {{ form.hidden_tag() }}
  </div>
  
  <div class="form-label-group">
    {{ form.url(class="form-control",id="inputURL", type="URL", placeholder="URL", required=true, autofocus=true)}}
    {{ form.url.label}}
  </div>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Get Clean Content</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
</form>
{% endblock %}
{% block JS%}
<script>
  function rrtoggle(){

    var rr = document.getElementById('rrface')

    rr.classList.toggle('star')
  }

</script>  


{% endblock %}