
{% extends 'base.html' %}
{% block style %} {% endblock %}
{% block content %}
<div class="main-section">
    <div>
        <h1 class="title">Videos, tutorials, and demos.</h1>
    </div>

    <div class="blog-roll resource-items">
        <div class="post">
            <h3>New Feature - Text Formatting and working with images. 13 March 2022</h3>
            <div class="vidyard-vid">
                <!-- Put this wherever you would like your player to appear -->
                <img
                style="width: 100%; margin: auto; display: block;"
                class="vidyard-player-embed"
                src="https://play.vidyard.com/AEnWj3tqtsjzHqYkxJJhdY.jpg"
                data-uuid="AEnWj3tqtsjzHqYkxJJhdY"
                data-v="4"
                data-type="inline"
/>
            </div>
        </div>
        <div class="post">
            <h3>Lurnby Hack - How to set up flashcards.</h3>
            <div class="vidyard-vid">
                <!-- Put this wherever you would like your player to appear -->
                <img
                style="width: 100%; margin: auto; display: block;"
                class="vidyard-player-embed"
                src="https://play.vidyard.com/cMGt1drDce8uncZichPHAM.jpg"
                data-uuid="cMGt1drDce8uncZichPHAM"
                data-v="4"
                data-type="inline"
                />
            </div>
        </div>
        
        <div class="post">
            <h3>New Lurnby Feature - sorting, filtering, and searching articles.</h3>
            <div class="video-wrapper">
                <iframe class="video" src="https://www.youtube.com/embed/L2ViB6jbLzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="post">
            <h3>Getting Started: Setting up Lurnby on mobile. 14 May 2020</h3>
            <div class="video-wrapper">
                <iframe class = "video" src="https://www.youtube.com/embed/N8wG_ErFzU8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="post">
            <h3>New Feature: Article Bookmarks. 4 May 2020</h3>
            <div class="video-wrapper">
                <iframe class="video"  src="https://www.youtube.com/embed/duhRWcH_izE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="post">
            <h3>New Feature: Exporting Highlights. 28 April 2020</h3>
            <div class="video-wrapper">
                <iframe class="video"  src="https://www.youtube.com/embed/f-8e3pdPkCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="post">
            <h3>New Feature: Filtering by topic on highlights and review page. 21 April 2020</h3>
            <div class="video-wrapper">
                <iframe class="video"  src="https://www.youtube-nocookie.com/embed/RVtmkstVlik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="post">
            <h3>Lurnby Demo - 19 April 2020</h3>
            <div class="video-wrapper">
                <iframe class="video"  src="https://www.youtube-nocookie.com/embed/3QPnJsq260I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="post">
            <h3>New Feature: Adding Articles to Lurnby via email - 12 April 2020</h3>
            <div class="video-wrapper">
                <iframe class="video"  src="https://www.youtube-nocookie.com/embed/UgRuAMX6hI0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="post">
            <h3>Feature Update: Spaced Repetition for Highlights - reviewing sooner - 26 March 2020</h3>
            <div class="video-wrapper">
                <iframe class="video"  src="https://www.youtube-nocookie.com/embed/zNLtwVYRGoY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="post">
            <h3>New Feature: Lurnby - Spaced Repetition for Highlights demo - 25 March 2020</h3>
            <div class="video-wrapper">
                <iframe class="video"  src="https://www.youtube-nocookie.com/embed/NDNyVuJFQJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="post">
            <h3>Help Needed! - Add to topic function has a UX challenge. - 10 December 2020</h3>
            <div class="video-wrapper">
                <iframe class="video"  src="https://www.youtube-nocookie.com/embed/NDNyVuJFQJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="post">
            <h3>New Feature: New feature - Notetaking while reading - 30 November 2020</h3>
            <div class="video-wrapper">
                <iframe class="video"  src="https://www.youtube-nocookie.com/embed/Ku_SZJn4UmY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
            </div>
        </div> 
    </div>
</div>
{% endblock %}
{% block JS %}
<!-- The script tag should live in the head of your page if at all possible -->
<script type="text/javascript" async src="https://play.vidyard.com/embed/v4.js"></script>
{% endblock %}