{% extends 'base.html' %}
{% block style %}
<style>
    #container {
        padding-top: 32px;
    }
    .review-item {
        max-width: 800px;
        margin: 16px 0 32px 0;
    }

    .review-header {
        background-color:white;
        padding: 16px;
    }

    .review-content {
        background-color: white;
        padding: 0 16px;
    }

    .review-actions button{
        margin-bottom: 8px;
        margin-left: 0;
    }


    .topic {
        font-weight: 100;
        font-size: 0.8rem;
        padding: 4px 8px;
        display: inline-block;
        text-align: center;
        background: #FFF79F;
        margin: 0px 4px 4px 0px;

    }
    .topic.filter:hover {
        cursor: pointer;
        color: white;
        background-color: black;
    }


    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }
    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }
    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
        /*when hovering an item:*/
        background-color: #e9e9e9;
    }
    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
    
    .filter_form {
        display: flex;
        flex-wrap: wrap;
    }

    .filter_form input{
        padding-left: 4px;
        padding-bottom: 4px;
        width: 200px;
    }

    @media (max-width: 566px){
        #export {
            margin-top: 16px;
        }

        #export .main-button{
          margin-left: 0px;
          margin-right: 16px;
        }
    }

</style>
{% endblock %}


{% block content%}
<div id="container">
    {% if empty %}
    <div class="main-section lurnby-empty-row">
        <div class=" lurnby-empty-col col text-center">
            <span style="cursor: pointer;" onclick="rrtoggle()"><img id="rrface" class="mb-4"
                src="{{url_for('static', filename='rrbetterface2.png')}}" alt="" height="100"></span>
            <h1 id="rrtitle" class="h3 mb-3 font-weight-normal">You don't have any highlights to review!</h1>
            <p>Ever tried, ever failed, no matter,<br> try again, fail again, fail better.<br>Samuel Beckett</p>
                <a href = "{{url_for('main.articles')}}" class="main-button articles-empty-cta add-new">Read an article.</a>
        </div>
    </div>
    {% else %}
    <div id="filters" class="main-section">
        <div class="autocomplete">
            <div class="filter_form" >
                <input id = "filter_input" type="text" placeholder="Filter by topic ..."> <button class="main-button" onclick="apply_filters()">Apply filter</button>
            </div>
        </div>
        <div id="active_filters"></div>
    </div>
    <div id= "review_section" class = "main-section">
        {% for tier in range(8) %}
        <div id="tier{{tier}}" class="tier">
        {% if tiers[tier]|length > 0 %}
            <div class="heading">
                <h6>Review tier {{tier}}</h6>
            </div>
            <h6 class = "subheading">{{days[tier]}} since last review</h6>
            {% for number in range(tiers[tier]|length) %}
            {% set highlight = tiers[tier][number] %}
            <div id="highlight-{{highlight.id}}" class="review-item">
                <div class="review-header">
                    <h6>From: {{ highlight.article.title}}</h6>
                    <div class="underline"></div>
                </div>
                <div class="review-content">
                    <p>{{highlight.text}}</p>
                    <div id ="highlight-{{highlight.id}}-actions" class="review-actions">
                        <button class="main-button view_highlight" onclick="ShowViewHighlightModal({{ highlight.id }})">View Details</button>
                        <button class=" main-button dont-remember" onclick="didnt_remember({{highlight.id}})">I didn't remember</button>
                        <button class="main-button remember" onclick="RaiseTier({{highlight.id}})">I remembered</button>
                    </div>
                </div>
            </div>       
            {% endfor %} 
        {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- View Highlight Modal-->
    <div class="modal" id="ViewHighlightModal" tabindex="-1" role="dialog" aria-labelledby="ViewHighlightModalLabel" aria-hidden="true">
    </div>
</div>

{% endblock%}

{% block JS %}
<script>

function UpdateNewTopic(){
    add_span.innerHTML = `
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">Name</label>
                    <input id = "UpdateAddTopicInput" name = title" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Topic title" required>
                    <input disabled style="display: none" aria-hidden="true"></input>

                </div>
                <div class="col-auto">
                    <button id = "submit_new_tag" type="button" onclick = "UpdateNewTopicSubmit()" class="main-button add-new">Add</button>
                    <button type="button" class="btn cancel mb-2" onclick="UpdateCancelNewTopic()">Cancel</button>
                </div>
            </div>
    `;

    var input = byId('UpdateAddTopicInput');
    input.focus();

};

function UpdateCancelNewTopic(){
  add_span.innerHTML ='<button onclick ="UpdateNewTopic()" class="main-button save">Create new topic </button>';
};


function UpdateNewTopicSubmit(){
    input = byId('UpdateAddTopicInput')

    if (input.value === '' || input.value === ' ' || input.value === '  ')
    {
        input.classList.add('is-invalid')
        input.focus();
    }
    else {   
            
        $.post('/topics/add/from_highlight', {
            title: input.value
        }).done(function(response) {
            add_span.innerHTML ='<button onclick ="UpdateNewTopic()" class="main-button save">Create new topic </button>';
            AddToTopic(response['id'], response['title'])
        }).fail(function() {
            add_span.innerHTML ='<div class="alert alert-danger alert-dismissible fade show" role="alert">There is already a topic with that title.<button onclick = "UpdateNewTopic()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
        });
        
    }

};



function AddToTopic(id, title){
    var members, newLabel, newInput, newSpan

    members = byId('Members')
    newLabel = document.createElement('label')
    newInput = document.createElement('input')
    newSpan = document.createElement('span')

    newLabel.setAttribute('id', 'topic'+id)
    newLabel.classList.add('topic-label','upd-topic-label', 'btn', 'active', 'initialized')

    newInput.setAttribute('name', 'members')
    newInput.setAttribute('type', 'checkbox')
    newInput.checked = true
    newInput.setAttribute('value', title)
    newLabel.append(newInput)    
    members.append(newLabel)
    newSpan.innerText= title
    newLabel.appendChild(newSpan)


    newLabel.addEventListener('click', function(e){
        e=e || window.event;
        var target = e.target || e.srcElement;
        
        if (target.tagName === "LABEL"){

            console.log(target.firstElementChild.value)
            console.log(target.classList)
            target.classList.toggle('active')
            console.log(target.classList)
        }
    });
}


function initialize(){
    console.log('initializing')
    var tagged =  byClass('tagged');
    var untagged = byClass('untagged');
    add = byId('add_new_tag');

    for (var i = 0; i<tagged.length; i++){
        if (tagged[i].classList.contains('initialized')){
            continue;
        }
        else {
            tagged[i].classList.add('initialized');
            tagged[i].addEventListener("click", function(e) {
                e=e || window.event;
                var target = e.target || e.srcElement;
                if (target.tagName === 'LABEL'){
                    target.classList.toggle('tagged')
                    target.classList.toggle('untagged')
                }  
            
            });
            
        }
    }

    for (var i = 0; i<untagged.length; i++){
        if (untagged[i].classList.contains('initialized')){
            continue;
        }
        else {
            untagged[i].classList.add('initialized');
            untagged[i].addEventListener("click", function(e) {
                e=e || window.event;
                var target = e.target || e.srcElement;
                if (target.tagName === 'LABEL'){
                    target.classList.toggle('tagged')
                    target.classList.toggle('untagged')
                }
            });
        }
    }
}

function initialize_view_topics(){
    var all_topics = byClass('upd-topic-label')
    for (var i=0; i< all_topics.length; i++){
        if (all_topics[i].classList.contains('initialized')){
            continue
        }
        else{
            all_topics[i].classList.add('initialized');
            all_topics[i].addEventListener("click", function(e){
                //console.log('click registered')
                e=e || window.event;
                var target = e.target || e.srcElement;
                //console.log(target.tagName)        
                if (target.tagName === "LABEL"){ 
                    //console.log(target.firstElementChild.value)
                    //console.log(target.classList)
                    target.classList.toggle('active')
                    //console.log(target.classList)
                }
            });
        }
    }
}

function ShowViewHighlightModal(id){
    xhr = $.ajax(
                '/view_highlight/' + id).done(
                    function(data) {
                        xhr = null
                        $('#ViewHighlightModal').html(data);
                        add_span = byId('new-topic');
                        add = byId('add_new_tag');

                        initialize();
                        initialize_view_topics();
                        $('#ViewHighlightModal').modal('toggle')
                    }
    );
}
function ArchiveHighlight(id){
    byId(`highlight-${id}`).style.display = 'none'
    console.log('highlight hidden')
    
    url = 'archivehighlight/'+id
    $.get(url)
    .done(function(){
        byId('flashMessages').innerHTML=`
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
        <li>
            Highlight has been deleted. <button type="button" data-dismiss="alert" onclick="UnarchiveHighlight(${id})"class="main-button save cancel">UNDO</button>
        </li>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      `
    });
    
}

function UnarchiveHighlight(id){
    byId(`highlight-${id}`).style.display = 'none'
    console.log('highlight hidden')
    
    url = 'unarchivehighlight/'+id
    $.get(url)
    .done(function(){
        byId(`highlight-${id}`).style.display = 'block'

        byId('flashMessages').innerHTML=`
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        <ul>
        <li>
            Highlight has been unarchived.
        </li>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      `
    });
    
}



function UpdateHighlight(id){
    $('#ViewHighlightModal').modal('hide')

    var doc_tags,tags,untags, doc_topics, topics, untopics, notes, highlight, topicspace

    notes = byId('view_highlight_notes').value
    highlight = byId('view_highlight_text').value

    doc_tags= byClass('update-highlight')
    tags=[]
    untags=[]
    for (var i = 0; i < doc_tags.length; i++){
        if(doc_tags[i].classList.contains('tagged')){
            tags.push(doc_tags[i].firstElementChild.value);
        }
        else {
            untags.push(doc_tags[i].firstElementChild.value);
        }
    }

    doc_topics = byClass('upd-topic-label')
    topics=[]
    untopics=[]

    for (var i = 0; i < doc_topics.length; i++){

        console.log(i)
        console.log(doc_topics[i].firstElementChild.value)
        console.log('\n')
        
        if (doc_topics[i].classList.contains('active')){
            topics.push(doc_topics[i].firstElementChild.value);
        }
        else {
            untopics.push(doc_topics[i].firstElementChild.value);
        }
    }

    var a_tags = byClass('active-tags')
    var a_topics = byClass('active-topics')

    atags = []
    atopics = []

    for (var i=0;i<a_tags.length;i++){
    atags.push(a_tags[i].firstElementChild.value)
    }

    for (var i=0;i<a_topics.length;i++){
    atopics.push(a_topics[i].firstElementChild.value)
    }

    topicspace = byId('topics_all')
    if (topicspace){
        data = {
            'notes': notes,
            'highlight':highlight,
            'topics':topics,
            'untopics':untopics,
            'tags':tags,
            'untags':untags,
            'atags':atags,
            'atopics':atopics,
            'topics-page':'true'
        }
    }
    else {
        data = {
            'notes': notes,
            'highlight':highlight,
            'topics':topics,
            'untopics':untopics,
            'tags':tags,
            'untags':untags,
            'atags':false,
            'atopics':false,
            'topics-page':'false',
            'do_not_review': byId('do_not_review').checked
        }
    }

    data = JSON.stringify(data)
    console.log(data)
    
    url = '/view_highlight/' + id
    topicspace = byId('topics_all')
        if (topicspace){
            topicspace.innerHTML=`
                <div class = "loading">
                    <p>Loading...</p>
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin:auto;background:0 0" width="64" height="64" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" display="block"><circle cx="50" cy="50" fill="none" stroke="#e3e3e3" stroke-width="5" r="32" stroke-dasharray="150.79644737231007 52.26548245743669" transform="rotate(144.01 50 50)"><animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"/></circle></svg>
                </div>
            `
        }
        
    $.post(url, {
        'data':data
    }).done(function( data ) {
        if (topicspace){
            topicspace.innerHTML = data;
            initialize();
            console.log(data)
        }
    }); 
}

function reviewed_all(){
    var container = byId('container')
    var data = `
    <div class="main-section lurnby-empty-row">
        <div class=" lurnby-empty-col col text-center">
            <span style="cursor: pointer;" onclick="rrtoggle()"><img id="rrface" class="mb-4"
                src="{{url_for('static', filename='rr-100.png')}}" alt="" height="100"></span>
            <h1 id="rrtitle" class="h3 mb-3 font-weight-normal">All done for now!</h1>
                <p>Great work. Check back later for more review items.</p>
                <a href = "{{url_for('main.review')}}" class="main-button articles-empty-cta add-new">Review more now</a>
        </div>
    </div>
    `
    container.innerHTML = data

}

function didnt_remember(id){

    var actions = byId('highlight-'+ id + '-actions')
    actions.innerHTML = `<button class=" main-button" onclick="LowerTier(${id})">Review sooner</button> <button class=" main-button" onclick="KeepTier(${id})">Review regularly</button>`

}


function RaiseTier(id){
    var reviewitem = byId('highlight-'+id)
    reviewitem.remove()
    if (byClass('review-item').length == 0) {
        reviewed_all()
    }
    url = '/tier/' + id
    data = {
        'tier': 'raise'
    }

    $.post(url, {
        'data': JSON.stringify(data)
    })

}

function LowerTier(id){
    var reviewitem = byId('highlight-'+id)
    reviewitem.remove()
    if (byClass('review-item').length == 0) {
        reviewed_all()
    }
    url = '/tier/' + id
    data = {
        'tier': 'lower'
    }

    $.post(url, {
        'data': JSON.stringify(data)
    })

}

function KeepTier(id){
    var reviewitem = byId('highlight-'+id)
    reviewitem.remove()
    if (byClass('review-item').length == 0) {
        reviewed_all()
    }

    url = '/tier/' + id
    data = {
        'tier': 'keep'
    }

    $.post(url, {
        'data': JSON.stringify(data)
    })
}

var topics = [ {% for t in topics %}'{{t.title}}',{%endfor%}]
    active_filters = byId('active_filters')
    var filters = []

    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                var x = arr[i]
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].toUpperCase().includes(val.toUpperCase())) {
                /*create a DIV element for each matching element:*/
                b = document.createElement("DIV");
                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML = x
                /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                        e=e || window.event;
                        var elem = e.target || e.srcElement;

                    /*insert the value for the autocomplete text field:*/
                    if (!filters.includes(elem.innerHTML)){
                        filters.push(elem.innerHTML)
                        t = document.createElement('span')
                        t.classList.add('topic')
                        t.classList.add('filter')
                        t.innerHTML = elem.innerHTML
                        t.id = 'topic'+elem.innerHTML
                        t.addEventListener('click', function(e){
                            e=e || window.event;
                            var target = e.target || e.srcElement;
                            var rem = target.id.slice(5)
                            filters = filters.filter(elem => elem !== rem);
                            byId(target.id).remove()
                        })
                        active_filters.appendChild(t)
                        byId('filter_input').value = ''
                        byId('filter_input').focus()
                    }
                    
                    /*close the list of autocompleted values,
                    (or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
            }
        }
    }
    
    
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
    } 

    autocomplete(document.getElementById("filter_input"), topics);

    function apply_filters(){
        console.log('applying filters')
        data = JSON.stringify({'filters':filters})

        var a = byId('review_section');
        a.innerHTML = `<div style = "display: block; text-align:center; float:center; margin:auto; margin-top: 88px; padding:88px; background: white; border:black 2px solid; width: 500px;">
                            <p>Getting your highlights now ...</p>
                            <img src="static/spinning-circles.svg" width="50" alt="">
                       </div>`;


        $.post('/review', {
            'data':data
        }).done(function( data ) {
            data = JSON.parse(data)
            console.log(data)
            a.innerHTML = data['html']
            topics = data['topics']
            autocomplete(document.getElementById("filter_input"), topics);
        }); 


    }


    

</script>


{% endblock%}