{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<main class = "{{color}}" id="standard">
      <div  class = "{{color}}" id = "sidebar">
        <button type="button" onclick ="show_controls()" id= "sidebar-action-button" class=" {{color}} action-button">Aa</button>
      </div>  

      <div class = "{{font}} size-{{size}} {{spacing}} {{color}}" id="content">
        

        <h1>{{ title|safe}}</h1>

        <h3>{{ author|safe}}</h3>
        <hr>
        <div id="article_content">
          {{ content|safe }}
        </div>
        
      </div>

      <!-- bottom-bar -->  
      <div class = "{{color}}" id ="bottom-bar">
        <div class = "article-overview">
          <p id = "overview-title" class = "small">{{title}}</p>
          <p><button onclick ="show_controls()" id = "bottombar-action" class=" {{color}} action-button">Aa</button></p>
          <p class = "ml-auto small"><span id="overview-progress">{{progress|round|int}}</span>%</p>
        </div>
      
      </div>
</main>




  <!-- tooltip-->


  <button id="infoDiv" type ="button" data-toggle="popover" data-trigger="focus" onclick = "showaddhighlightmodal()" class="highlight-button main-button light-mode" >
    <span id ="addhighlight">Add Highlight</span>
  </button>
<!--  type controls  -->

{% if color == 'light-mode' %}
<form class = "light-control-mode" id = "type-controls">
{% elif color == 'dark-mode' %}
<form class = "dark-control-mode" id = "type-controls">
{% else %}
<form class = "sepia-control-mode" id = "type-controls">
{% endif %}

  <!-- font selection -->
  <div class="form-group">
    {% if font == 'sans-serif' %}
    <input type = "radio" checked name="font-choice" value = "sans-serif" id = "sans-serif">
    {% else %}
    <input type = "radio" name="font-choice" value = "sans-serif" id = "sans-serif">
    {% endif %}
    <label class = "type-control-button font-selector sans-serif" for="sans-serif"><p>Sans-serif</p>Aa</label>
    
    {% if font == 'serif'%}
    <input type = "radio" name="font-choice" checked value = "serif" id = "serif">
    {% else %}
    <input type = "radio" name="font-choice" value = "serif" id = "serif">
    {% endif %}
    <label class = "type-control-button font-selector serif" for="serif"><p>Serif</p>Aa</label>
  </div>

  <div class="underline"></div>
  
  <!-- font size  -->
  <div class = "form-group">
    <div class = "font-size" id = "decrease-size"> - </div>
    <input type="range" id="font-size-input" min = "1" max = "15" value="{{size}}" step="1"></input>
    <label id = "font-size-value" class = "num-input" for="font-size-value">{{size}}</label>
    <div class = "font-size" id="increase-size"> + </div>
  </div>
  <div class = "underline"></div>

  <!-- line height  -->
  <div class = "form-group">

      {% if spacing == 'line-height-min' %}
      <input type="radio" name = "line-height-options" checked value = "line-height-min" id="line-height-min">
      {% else %}
      <input type="radio" name = "line-height-options" value = "line-height-min" id="line-height-min">
      {% endif %}
      <label for="line-height-min">
        <svg xmlns="http://www.w3.org/2000/svg"
          width="38"
          height="24"
          viewBox="0 0 38 24"
          fill="context-fill">
          <rect x="0" y="0" width="28" height="2"/>
          <rect x="0" y="5" width="38" height="2"/>
          <rect x="0" y="10" width="18" height="2"/>
        </svg>
      </label>
      
      {% if spacing == 'line-height-mid' %}
      <input type="radio" name = "line-height-options" checked value = "line-height-mid" id="line-height-mid">
      {% else %}
      <input type="radio" name = "line-height-options" value = "line-height-mid" id="line-height-mid">
      {% endif %}
      <label  for="line-height-mid">
        <svg xmlns="http://www.w3.org/2000/svg"
          width="38"
          height="24"
          viewBox="0 0 38 24"
          fill="context-fill">

          <rect x="0" y="0" width="28" height="2"/>
          <rect x="0" y="8" width="38" height="2"/>
          <rect x="0" y="16" width="18" height="2"/>
        </svg>
      </label>

      {% if spacing == 'line-height-max'%}
      <input type="radio" name = "line-height-options" checked value = "line-height-max" id="line-height-max">
      {% else %}
      <input type="radio" name = "line-height-options" value = "line-height-max" id="line-height-max">
      {% endif %}
      <label for="line-height-max">
        <svg xmlns="http://www.w3.org/2000/svg"
          width="38"
          height="24"
          viewBox="0 0 38 24"
          fill="context-fill">

          <rect x="0" y="0" width="28" height="2"/>
          <rect x="0" y="11" width="38" height="2"/>
          <rect x="0" y="22" width="18" height="2"/>
        </svg>
      </label>
    
  </div>
  <div class="underline"></div>
  
  <!--  Color mode -->
  <div class="form-group">
    
    {% if color == 'light-mode' %}
    <input type = "radio" name="color-mode" checked value = "light-mode" id = "light-mode">
    {% else %}
    <input type = "radio" name="color-mode" value = "light-mode" id = "light-mode">
    {% endif %}

    <label for = "light-mode" class = "type-controls-button color-selector  light-mode">Light</label>
    {% if color == 'dark-mode' %}
    <input type = "radio" name="color-mode" checked value = "dark-mode" id = "dark-mode">
    {% else %}
    <input type = "radio" name="color-mode" value = "dark-mode" id = "dark-mode">
    {% endif %}

    <label for = "dark-mode" class = "type-controls-button color-selector dark-mode">Dark</label>
    {% if color == 'sepia-mode' %}
    <input type = "radio" name="color-mode" checked value = "sepia-mode" id = "sepia-mode">
    {% else %}
    <input type = "radio" name="color-mode" value = "sepia-mode" id = "sepia-mode">
    {% endif %}
    <label for = "sepia-mode" class = "type-controls-button color-selector sepia-mode">Sepia</label>
 
</div>  


</form>

<!--  end type controls  -->
 

<!-- Add Highlight Modal-->
  <div class="lurnby_modal modal fade" id="AddHighlightModal" tabindex="-1" role="dialog" aria-labelledby="AddHighlightModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddHighlightModalLabel">New Highlight</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  class = "main-form" id = "SubmitHighlightForm" action="" method="post">
             <!-- {{ form.hidden_tag() }} -->
             {{ form.position(class="form-control",type="hidden", id="highlight_position") }}   
            <input id = "article_uuid" type="hidden" name="article_uuid" value="{{ article_uuid}}"> 
            <div class=" lurnby_data_group form-group">
              <h6>Highlight</h6>
              {{ form.text(class="form-control", id="HighlightField") }}
            </div>
            <br>
            <div class="lurnby_data_group form-group">
              <h6>Add a note</h6>
              {{ form.note(class="form-control", id="message-text") }}              
            </div>
                        
            <div class="lurnby_data_group topics-group" data-toggle="buttons">
              <h6 class="inline-block">Topics:</h6><span  id="CreateTopic">
                <button onclick ="NewTopic()" class="main-button save">
                  Create new topic
                </button>
              </span><br>
              <div class = "topics-all">
                <span id = "topicplaceholder">
                {% for topic in topics %}
                <label id= "add_highlight_topic{{topic.id}}" class="topic-label btn">
                  <input name = "topics" type="checkbox" value="{{topic.title}}">
                  {{topic.title}}
                </label>
                {% endfor %}
                </span>
              </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button"  class="main-button cancel" data-dismiss="modal">Cancel</button>
          <button type="button" onclick="SubmitHighlight()" class="main-button save">Add</button>
        </div>
      </form>
      </div>
    </div>
  </div>

<!-- View Highlight Modal-->
<div class="modal" id="ViewHighlightModal" tabindex="-1" role="dialog" aria-labelledby="ViewHighlightModalLabel" aria-hidden="true">
</div>
{% endblock %}

{% block JS %}

<script>

// scroll to previous position

function set_position() { 
  var progress; 
  var $window = $(window);

  var h = document.documentElement, 
  b = document.body,
  st = 'scrollTop',
  sh = 'scrollHeight';
  /*
  $.get('/article/' + article_id + '/progress', function(data) {
    progress = data['Progress'];
    console.log('progress')
    console.log(progress)

    var position = (progress / 100) * (h[sh] || b[sh])    
  
    $window.scrollTop(position);
  });  
  */

  progress = {{progress}};
  
    var position = (progress / 100) * (h[sh] || b[sh])    
  
    $window.scrollTop(position);
};
set_position();

/* store scroll position 
  hat tip -  https://stackoverflow.com/questions/2387136/cross-browser-method-to-determine-vertical-scroll-percentage-in-javascript
  */
  
  var timer;

  function getScrollPercent() {
    
    console.log('getting scroll')
    var h = document.documentElement, 
    b = document.body,
    st = 'scrollTop',
    sh = 'scrollHeight';
    
    var progress =  (h[st] || b[st]) / (h[sh] || b[sh]) * 100;


    clearTimeout(timer)
    timer = setTimeout(update_progress.bind(null, progress), 3000)
  } 

  function update_progress(progress, article_uuid){
    console.log('updating progress');
    byId('overview-progress').innerText = Math.round(progress);

    $.post('/article/' + '{{article_uuid}}' + '/progress', {
          'Progress': progress
        });
  }

  document.addEventListener("scroll", getScrollPercent());


  var tables = document.getElementsByTagName('table');

for(let i=0; i<tables.length; i++){
  
  var div = document.createElement('div');
  
  div.classList.add('twrap')
  
  tables[i].parentNode.insertBefore(div, tables[i]);
  
  div.appendChild(tables[i]);
}


</script>


<!-- Select and highlight js. -->
<script type="text/javascript" src="{{url_for('static', filename='/texthighlighter/TextHighlighter.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='tag.js')}}"></script>

<script>
  // enable highlighting      
  var sandbox = document.getElementById('content');      
  //var article_id = $("#article_id").val()
  var article_uuid = '{{article_uuid}}'

  hltr = new TextHighlighter(sandbox, {
    enabled: false,
    onAfterHighlight: function (range, highlights) {
        //var serialized = hltr.serializeHighlights();
        var updated_content = byId('article_content').innerHTML
        $.post('/article/' + article_uuid + '/highlight-storage', {
          //'SerializedHighlights': serialized
          'updated_content': updated_content
        }).fail(function() {
          $('flashMessages').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">Failure!!!!<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
        });

      $('[data-toggle="popover"]').popover()
      
      
      $('.popover-dismiss').popover({
        trigger: 'focus'
      });
    
      
    } 
    
  });

  //load highlights
  var serialized; 

  /*
  $.get('/article/' + article_id + '/highlight-storage', function(data) {
    serialized = data['SerializedHighlights']
    console.log(serialized)

    hltr.deserializeHighlights(serialized);
    $('[data-toggle="popover"]').popover()

  });
  
  

  serialized = {{serialized|safe}}  
  hltr.deserializeHighlights(serialized['highlights']);
  */
  $('[data-toggle="popover"]').popover()
  

    function SubmitHighlight(){

      var text, notes, topics, doctopics, article_uuid, position

      text = byId('HighlightField').value
      notes = byId('message-text').value
      topics = []
      doctopics = byClass('topic-label')
      article_uuid = byId('article_uuid').value
      position = byId('highlight_position').value

      for (var i = 0; i < doctopics.length; i++){
        if (doctopics[i].classList.contains('active')){
          topics.push(doctopics[i].firstElementChild.value)
        }
      }

      var data = {
        text:text,
        notes:notes,
        topics:topics,
        article_uuid:article_uuid,
        position:position
      }

      data = JSON.stringify(data)
      //console.log(data)

      $.post('/article/addhighlight', {
        'data':data
      }).done(function( data ) {
        AddedHighlight(data)
      }).fail( function(){
        FailedToAddHighlight()
      });


      /*
      $("#SubmitHighlightForm").ajaxSubmit({
        url: '/article/addhighlight', 
        type: 'post',
        success: function(responseText){ AddedHighlight(responseText) },
        error: function(){ FailedToAddHighlight() }
      })
      */
    }
      
    var returnedhighlightid;
    var returnedhighlightclass;

    function AddedHighlight(responseText){
      
      $('#AddHighlightModal').modal('hide');

      var active = byClass('active')
      for (var i = active.length - 1; i>=0; i--){
        active[i].classList.remove('active')
      }

      //byId('message-text').value = ''

      
      /* THIS RESETS THE SUBMIT HIGHLIGHT FORM 
      document.getElementById('SubmitHighlightForm').reset()
      var c = document.querySelectorAll('input[type="checkbox"]');
      var count = c.length
      console.log(c)
      
      for (var i = 0; i < c.length; i++){
        if (c[i].parentNode.classList.contains('active')){
          c[i].click()
        }  
      }
      
      /* END RESET */



      selectedObj.removeAllRanges();
      selectedObj.addRange(selectedText);
      returnedhighlightclass = "highlight"+responseText['highlight_id']
      returnedhighlightid = responseText['highlight_id']
      hltr.enable();
      hltr.doHighlight();
      hltr.disable();
      
    }
      
    function FailedToAddHighlight(){
      var node = document.createElement('span');
      node.html('<div class="alert alert-danger alert-dismissible fade show" role="alert">FAIL!!!</div>')
      document.body.appendChild(node);
      //document.body.html('<div class="alert alert-danger alert-dismissible fade show" role="alert">FAIL!!!</div>')
    }


      


    function NewTopic(){
      $('#CreateTopic').html(`
        <br>
        <form> 
          <div class = "form-row align-items-center"> 
            <div class="col-sm-6 my-1">
              <input autofocus="" class="form-control" id="addtopicinput" name="title" placeholder="Topic title..." required="" type="text" value="">
              </input>
            </div> 
            <div class="col-auto my-1"> 
              <button type="button" onclick="CancelNewTopic()" class="main-button cancel">cancel</button> 
            </div>  
            <div class="col-auto my-1"> 
              <button onclick="NewTopicSubmit()" type="button" class="main-button save">add</button> 
            </div> 
          </div> 
      </form>`);
      $('#addtopicinput').trigger('focus');
    }

    
    function NewTopicSubmit(){

      input = byId('addtopicinput')
    
    if (input.value === '' || input.value === ' ' || input.value === '  ')
    {
        input.classList.add('is-invalid')
        input.focus();
    }
    else 
    {   
            
        $.post('/topics/add/from_highlight', {
            title: input.value
        }).done(function(response) {
          $('#topicplaceholder').append(`
            <label id="label${response['id']}" class="topic-label btn">
              <input name = "topics" value = "${response["title"]}" type="checkbox">${response["title"]}</label>
          `);

          document.getElementById("label"+response['id']).click();

          $('#CreateTopic').html('<button onclick ="NewTopic()" class="main-button save">Create new topic </button>');

        }).fail(function() {
            byId('CreateTopic').innerHTML ='<div class="alert alert-danger alert-dismissible fade show" role="alert">There is already a topic with that title.<button onclick = "UpdateNewTopic()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
        });
        
    }



/*
      $.post('/topics/add', {
        title: $('#addtopicinput').val()
      }).done(function(response) {
          //$('#topicplaceholder').append('<label id="label' + response['id']+ '" class="button-group-pills btn btn-default"><input name = "topics" value = "'+response["title"]+'"type="checkbox">'+response["title"]+'</label>');
          $('#topicplaceholder').append(`
            <label id="label${response['id']}" class="topic-label btn">
              <input name = "topics" value = "${response["title"]}" type="checkbox">${response["title"]}</label>
          `);

          document.getElementById("label"+response['id']).click();

          $('#CreateTopic').html('<button onclick ="NewTopic()" class="main-button save">Create new topic </button>');

        }).fail(function() {
          $('#CreateTopic').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">There is already a topic with that title.<button onclick = "NewTopic()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
      });
      */
  }


  function CancelNewTopic(){
    $('#CreateTopic').html('<button onclick ="NewTopic()" class="main-button save">Create new topic </button>')
  }
    

  $(function() {
      
    $('[data-toggle="popover"]').popover()
          
  
    $('.popover-dismiss').popover({
      trigger: 'focus'
    });

  });



</script>

<script type="text/javascript" src="{{url_for( 'static', filename='highlight.js' )}}"></script>
<script type="text/javascript" src="{{url_for( 'static', filename='updatehighlight.js' )}}"></script>


<script type="text/javascript">
 /* type controls functions */
  
  var size, size_input, increase, decrease, val, content, standard, controls, sidebar_button;
  
  highlight_button = byId('infoDiv')
  sidebar_button = byId('sidebar-action-button')
  controls = byId('type-controls')
  standard = byId('standard')
  content = byId('content');
  bottom = byId('bottom-bar')
  bottom_button = byId('bottombar-action')
  size = byId('font-size-input');
  size_input = byId('font-size-value')
  increase = byId('increase-size')
  decrease = byId('decrease-size')


  content.addEventListener('click', function(){
    hide_controls();

  });

document.addEventListener('DOMContentLoaded', function(){
  initialize_controls();
}) 

/* Save preferences and Send them  */

controls.addEventListener('click', save_preferences);

var time;

function save_preferences(){
  
  var font, size, spacing, color;
  
  font = document.forms['type-controls'].elements['font-choice'];
  for (var i = 0; i < font.length; i++){
    if (font[i].checked){
      font = font[i].value;
      break;
    }
  }
  
  color = document.forms['type-controls'].elements['color-mode'];
  for (var i = 0; i < font.length; i++){
    if (color[i].checked){
      color = color[i].value;
      break;
    }
  }
  
  size = byId('font-size-input').value
  
  spacing = document.forms['type-controls'].elements['line-height-options'];
  for (var i = 0; i < font.length; i++){
    if (spacing[i].checked){
      spacing = spacing[i].value;
      break;
    }
  }
  
  
  var preferences = {
    'font' : font,
    'color': color,
    'size': size,
    'spacing':spacing
  }
  	
 	clearTimeout(time)
  time = setTimeout(send_preferences.bind(null,preferences), 5000)
   
  
}

function send_preferences(preferences){
  
  $.post('/article/preferences', {
                'Preferences': JSON.stringify(preferences)
              });
  
  
}


/* end Save Preferences */

/* When the user scrolls down, do x. When the user scrolls up, do y */
var nav = byId('navigation')
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  getScrollPercent()
  if (prevScrollpos > currentScrollPos) {
    sidebar_button.style.border='1px solid';
    	
  } else {
    

    sidebar_button.style.border="none";
  }
  prevScrollpos = currentScrollPos;
} 


  function show_controls(event){
    controls.style.display="block";
  }

  function hide_controls(){
    console.log('hiding')
    controls.style.display="none"
    //byId('infoDiv').style.display="none"

  }

  /*
  document.addEventListener('selectionchange', ()=> {
    if (document.getSelection().empty || window.getSelection().empty) {
      byId('infoDiv').style.display="none"
    }

  })
*/



  function initialize_controls(){

    // font-size
    increase.addEventListener('click', function(){
    
    size.value++;
    size_input.innerHTML=size.value
    val = size.value

    content.classList.add(`size-${val}`)
    val--
    content.classList.remove(`size-${val}`)
    disable_buttons();

    });

    decrease.addEventListener('click', function(){

    size.value--;
    size_input.innerHTML=size.value
    val = size.value

    content.classList.add(`size-${val}`)
    val++
    content.classList.remove(`size-${val}`)

    disable_buttons();
    
    });

    function disable_buttons(){
    val = size.value
    
    if (val == 1){
      decrease.classList.add('disabled')
    }
    if (val > 1){
      decrease.classList.remove('disabled')
    }
    if (val < 15){
      increase.classList.remove('disabled')
    }
    if (val == 15){
      increase.classList.add('disabled')
    }
    
    
    }


    // font choice

    var font = document.forms['type-controls'].elements['font-choice'];

    for (var i = 0; i < font.length; i++){
      font[i].onclick = function(){
        
        var content = byId('content');
        
        if (this.id == 'serif'){
          content.classList.remove('sans-serif');
          content.classList.add('serif')
          
        }
        else if (this.id == 'sans-serif'){
          content.classList.remove('serif');
          content.classList.add('sans-serif')    
          
        }
        
        
      };
    }


    // color mode
    var color = document.forms['type-controls'].elements['color-mode'];

    for (var i = 0; i < color.length; i++){
      color[i].onclick = function(){
        
        var content = byId('content');
        var controls = byId('type-controls');
        var sidebar = byId('sidebar')
        
        if (this.id == 'light-mode'){
          content.classList.remove('dark-mode', 'sepia-mode');
          content.classList.add('light-mode')


          

          sidebar.classList.remove('dark-mode', 'sepia-mode');
          sidebar.classList.add('light-mode')

          bottom.classList.remove('dark-mode', 'sepia-mode');
          bottom.classList.add('light-mode')

          standard.classList.remove('dark-mode', 'sepia-mode');
          standard.classList.add('light-mode')
          
          controls.classList.remove('dark-control-mode', 'sepia-control-mode');
          controls.classList.add('light-control-mode')

          sidebar_button.classList.remove('dark-mode', 'sepia-mode');
          sidebar_button.classList.add('light-mode')

          bottom_button.classList.remove('dark-mode', 'sepia-mode');
          bottom_button.classList.add('light-mode')

        }
        else if (this.id == 'dark-mode'){
          content.classList.remove('light-mode', 'sepia-mode');
          content.classList.add('dark-mode')

          
          sidebar.classList.remove('light-mode', 'sepia-mode');
          sidebar.classList.add('dark-mode')

          bottom.classList.remove('light-mode', 'sepia-mode');
          bottom.classList.add('dark-mode')


          sidebar_button.classList.remove('light-mode', 'sepia-mode');
          sidebar_button.classList.add('dark-mode')

          bottom_button.classList.remove('light-mode', 'sepia-mode');
          bottom_button.classList.add('dark-mode')

          standard.classList.remove('light-mode', 'sepia-mode');
          standard.classList.add('dark-mode')
          
          controls.classList.remove('light-control-mode', 'sepia-control-mode');
          controls.classList.add('dark-control-mode')	
          
        }
        else if (this.id == 'sepia-mode'){
          content.classList.remove('dark-mode', 'light-mode');
          content.classList.add('sepia-mode')

          

          sidebar.classList.remove('dark-mode', 'light-mode');
          sidebar.classList.add('sepia-mode')

          bottom.classList.remove('dark-mode', 'light-mode');
          bottom.classList.add('sepia-mode')

          sidebar_button.classList.remove('dark-mode', 'light-mode');
          sidebar_button.classList.add('sepia-mode')

          bottom_button.classList.remove('dark-mode', 'light-mode');
          bottom_button.classList.add('sepia-mode')
          
          standard.classList.remove('dark-mode', 'light-mode');
          standard.classList.add('sepia-mode')
          
          controls.classList.remove('dark-control-mode', 'light-control-mode');
          controls.classList.add('sepia-control-mode')
        }
        
      };
    }

    
    var lineheight = document.forms['type-controls'].elements['line-height-options'];

    for (var i = 0; i < lineheight.length; i++){
      lineheight[i].onclick = function(){
        
        if (this.id == 'line-height-min'){
          content.classList.remove('line-height-mid','line-height-max' )
          content.classList.add('line-height-min')
        }
        else if (this.id == 'line-height-mid'){
          content.classList.remove('line-height-min', 'line-height-max' )
          content.classList.add('line-height-mid')
        }
        else if (this.id == 'line-height-max'){
          content.classList.remove('line-height-min', 'line-height-mid' )
          content.classList.add('line-height-max')
        }
        
      };
    }

    // end type controls

  };


  </script>

  {% if not config['DEBUG'] %}
   <script>
     FS.setUserVars({
      displayName: '{{user.id}}',
      email: '{{user.email}}',
      uid: "{{user.id}}"
      });
  
  </script>

  {% endif %}
{% endblock %}