{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<main id="standard">
  <!-- tooltip-->
  <div id="infoDiv" class="tooltipDiv">
    <button id ="addcomment" class="btn actions-button"><i class="fa fa-comment"></i></button>
    <button id="addtolist" class="btn actions-button"><i class="fa fa-list-alt"></i></button>
  </div>


  <div class= "row">

    <div class="col-lg-3">
      <!-- Sidebar -->
      <nav id="sidebar">
        <!--
        <div class="sidebar-header">
              <h3><a href="{{ url_for('index' )}}">Home</a></h3>
          </div>
        -->   
        <div id ="sidebar-collapse" class = "justify-content-end ">
          <button type="button" class="btn settings-button ">
          <i id="collapse-icon" class= "fa fa-angle-double-left"></i>
          <span data-toggle="collapse" aria-expanded="false" id="inviz">Hide Controls</span>
          </button>
        </div>
        <div class="sidebar-content">
          <h6 class="sidebarheading">Set background:</h6> 
          <ul class="list-group list-group-horizontal no-style">
              <li>
                <button id = "make-light" class="list-group-item-action"> Light Mode</button>
              </li>
              <li>
                <button id = "make-dark" class="list-group-item-action"> Dark Mode</button>
              </li>
              <li>
                <button id = "make-sepia" class="list-group-item-action"> Sepia mode </button>
              </li>            
          </ul>
          <br>
          <h6 class="sidebarheading">Set font:</h6> 
          <ul class="list-group no-style d-flex justify-content-around">
              <li>
                <button id = "make-serif"><span class="font-preview">Aa </span>Serif</button>
              </li>
              <li>
                <button id = "make-sans"><span class="font-preview">Aa </span>Sans Serif</button>
              </li>    
          </ul>
          <br>
          <h6 class="sidebarheading">Set sizing:</h6> 

            <div class="d-flex align-middle sidebar-row">
              <button id="p-less"class="p-2 flex-fill make-size font-preview">-</button>
              <button class="p-2 flex-fill make-size-middle disabled">Size</button>
              <button id="p-more"class="p-2 flex-fill make-size font-preview">+</button>
            </div>
            <div class="d-flex align-middle sidebar-row">
              <button id="lheight-less"class="p-2 flex-fill make-size font-preview">-</button>
              <button class="p-2 flex-fill make-size-middle disabled">Line Height</button>
              <button id="lheight-more"class="p-2 flex-fill make-size font-preview">+</button>
            </div>
            <div class="d-flex align-middle sidebar-row">
              <button id="margin-less" class="p-2 flex-fill make-size font-preview">-</button>
              <button class="p-2 flex-fill make-size-middle disabled">Margins</button>
              <button id="margin-more" class="p-2 flex-fill make-size font-preview">+</button>
            </div>
        </div>
      </nav>
    </div>
    <div class="col-auto">
      <!-- Page Content -->
      <nav class="navbar">
      <!--
        <button type="button" id="sidebar-collapse" class="btn settings-button">
          <i id="collapse-icon" class= "fa fa-angle-double-left"></i>
          <span data-toggle="collapse" aria-expanded="false" id="inviz">Hide Controls</span>
        </button>
      -->
      </nav>
      <div id="content">
        <h1>{{ title|safe}}</h1>

        <h3>{{ author|safe}}</h3>
        <hr>
        {{ content|safe }}
      </div>

    </div>
  </div>   
</main>

{% endblock %}

{% block JS %}
<!-- jQuery first, then Popper.js, then Bootstrap JS, then bootbox -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

<!-- My Custom JS  -->
<script type="text/javascript">
  $(document).ready(function() {
    
    // add img-fluid class to all images
    var list;
    list = document.querySelectorAll("img");
    for (var i = 0; i < list.length; ++i) {
      list[i].classList.add('img-fluid');
    }
  });

  var content = document.getElementById('content');

  var currTextSize = 16;
  var currlineheight = 24;
  var currleft = 8;
  var currright = 8;

  content.style.fontSize = currTextSize + 'px';

  function bigtext () {
  ++currTextSize;
  content.style.fontSize = currTextSize + 'px';
  }
  function biglineheight () {
  ++currlineheight;
  content.style.lineHeight = currlineheight + 'px';
  }
  function bigmargin () {
  currleft += 8;
  currright += 8;
  content.style.marginLeft = currleft + 'px';
  content.style.marginRight = currright + 'px';

  }


  function smalltext () {
  --currTextSize;
  content.style.fontSize = currTextSize + 'px';
  }
  function smalllineheight () {
  --currlineheight;
  content.style.lineHeight = currlineheight + 'px';
  }
  function smallmargin () {
  currleft -= 8;
  currright -= 8;
  content.style.marginLeft = currleft + 'px';
  content.style.marginRight = currright + 'px';

  }


  $('#sidebar-collapse').on('click', function() {
    var sidebar = document.getElementById("sidebar");
    var standard = document.getElementById("standard");


    if (sidebar.style.width === "48px"){
      sidebar.style.width = "300px";
      standard.style.marginLeft = "300px";
      sidebar.style.background = "#EBC354"

    }
    else{
      sidebar.style.width = "48px";
      standard.style.marginLeft = "48px";
      sidebar.style.background = "white"
    }

    var x = document.getElementById("inviz");
    if (x.style.display === "none") {
      x.style.display = "inline";
    } 
    else {
      x.style.display = "none";
    }

    if($("#collapse-icon").attr('class') == "fa fa-angle-double-right"){
      $("#collapse-icon").attr('class', 'fa fa-angle-double-left');
    }
    else{
      $("#collapse-icon").attr('class', "fa fa-angle-double-right");
    }
     
    var sidebarContent = document.getElementsByClassName("sidebar-content");
    if (sidebarContent[0].style.display === "none") {
      sidebarContent[0].style.display = "block";
    } 
    else {
      sidebarContent[0].style.display = "none";
    }


  });


  $('#sidebarcollapse').on('click', function () {

    var x = document.getElementById("inviz");
    if (x.style.display === "none") {
      x.style.display = "inline";
    } 
    else {
      x.style.display = "none";
    }

    $('#sidebar').toggleClass('active');
    $('#sidebarcollapse').toggleClass('slide-left settings-button-left');


    if($("#collapse-icon").attr('class') == "fa fa-angle-double-right"){
      $("#collapse-icon").attr('class', 'fa fa-angle-double-left');
    }
    else{
      $("#collapse-icon").attr('class', "fa fa-angle-double-right");
    }
  });     

  
  $('#make-sepia').on('click', function () {
    document.body.classList.remove("dark-mode");
    document.getElementById("make-dark").classList.remove("activebutton");
    document.body.classList.remove("light-mode");
    document.getElementById("make-light").classList.remove("activebutton");
    document.body.classList.add("sepia-mode");
    $('#make-sepia').attr('class', "activebutton");

  
  });

  $('#make-light').on('click', function () {
    document.body.classList.remove("sepia-mode");
    document.getElementById("make-sepia").classList.remove("activebutton");
    document.body.classList.remove("dark-mode");
    document.getElementById("make-dark").classList.remove("activebutton");
    document.body.classList.add("light-mode");
    $('#make-light').attr('class', "activebutton");

  });
  
  $('#make-dark').on('click', function () {
    document.body.classList.remove("sepia-mode");
    document.getElementById("make-sepia").classList.remove("activebutton");
    document.body.classList.remove("light-mode");
    document.getElementById("make-light").classList.remove("activebutton");
    document.body.classList.add("dark-mode");
    $('#make-dark').attr('class', "activebutton");      
  });
  
  $('#make-sans').on('click', function () {
    document.getElementById("content").classList.remove("serif-mode");
    document.getElementById("content").classList.add("sans-mode");
  });  

  $('#make-serif').on('click', function () {
    document.getElementById("content").classList.remove("sans-mode");
    document.getElementById("content").classList.add("serif-mode");
  });  

  $('#p-less').on('click', function () {
    smalltext();       
  });  
  $('#p-more').on('click', function () {
    bigtext();
  });
  $('#lheight-less').on('click', function () {
    smalllineheight();       
  });  
  $('#lheight-more').on('click', function () {
    biglineheight();
  });    
  $('#margin-less').on('click', function () {
    smallmargin();       
  });  
  $('#margin-more').on('click', function () {
    bigmargin();
  }); 

  
  // got the following 2 functions here: https://stackoverflow.com/questions/28246522/how-to-position-popover-over-a-highlighted-portion-of-text/28246679 
  /*
  function getSelectedText() {
    var text = "";
    if (typeof window.getSelection != "undefined") {
      text = window.getSelection().toString();
    } 
    else if (typeof document.selection != "undefined" && document.selection.type == "Text") {
      text = document.selection.createRange().text;
    }
    return text;
  }    
  */  

var selectedText;
function textActions() {
    var selectedObj = window.getSelection();

    selectedText = selectedObj.getRangeAt(0);

  if (selectedText != "") {

    $('#infoDiv').css('display', 'block');
    $('#infoDiv').css('position', 'absolute');
    $('#infoDiv').css('left', event.clientX + 25);
    $('#infoDiv').css('top', event.clientY - 15);
  } 
  
  

}


$('#addcomment').click(function(){
  $('#infoDiv').css('display', 'none');
  var text = '<h4>Add following text to comment function:</h4>' + selectedText;
  bootbox.alert(text);  
  
});

$('#addtolist').click(function(){
  $('#infoDiv').css('display', 'none');
  var text = '<h4>Add following text to some list that will be searchable </h4>' + selectedText;
  bootbox.alert(text);
});
      

  

document.addEventListener("mouseup", textActions);
document.addEventListener("keyup", textActions);

</script>
{% endblock %}