{% extends "base.html" %}

{% block style %}
  <link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<main id="standard">
  <!-- tooltip-->
  <button id="infoDiv" type ="button" onclick = "showaddhighlightmodal()" class="tooltipDiv btn btn-dark btn-sm" >
    <span id ="addhighlight">Add Highlight</span>
  </button>

  <!-- Add Highlight Modal-->
  <div class="modal fade" id="AddHighlightModal" tabindex="-1" role="dialog" aria-labelledby="AddHighlightModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddHighlightModalLabel">Add highlight to topics</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  id = "SubmitHighlightForm" action="" method="post">
             {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.text.label }}
              {{ form.text(class="form-control", id="HighlightField") }}
            </div>
            <br>
            <div class="form-group">
              {{ form.note.label }}
              {{ form.note(class="form-control", id="message-text") }}              
            </div>
            <div class="btn-group-toggle" data-toggle="buttons">
              {% for topic in topics %}
              <label class="button-group-pills btn btn-default">
                <input name = "{{ topic.title }}" type="checkbox"  >
                {{topic.title}}
              </label>
              {% endfor %}
              <span id = "topicplaceholder"></span>
          
              <span id="CreateTopic">
                <button onclick ="NewTopic()" class="create-button btn btn-success">
                  Create new topic
                </button>
              </span>
            </div>
            

          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
      </div>
    </div>
  </div>





  <div class= "row">

    <div class="col-lg-3">
      <!-- Sidebar -->
      <nav id="sidebar">
        <!--
        <div class="sidebar-header">
              <h3><a href="{{ url_for('index' )}}">Home</a></h3>
          </div>
        -->   
        <div id ="sidebar-collapse" class = "justify-content-end ">
          <button type="button" class="btn settings-button ">
          <i id="collapse-icon" class= "fa fa-angle-double-left"></i>
          <span data-toggle="collapse" aria-expanded="false" id="inviz">Hide Controls</span>
          </button>
        </div>
        <div class="sidebar-content">
          <h6 class="sidebarheading">Set background:</h6> 
          <ul class="list-group list-group-horizontal no-style">
              <li>
                <button id = "make-light" class="list-group-item-action"> Light Mode</button>
              </li>
              <li>
                <button id = "make-dark" class="list-group-item-action"> Dark Mode</button>
              </li>
              <li>
                <button id = "make-sepia" class="list-group-item-action"> Sepia mode </button>
              </li>            
          </ul>
          <br>
          <h6 class="sidebarheading">Set font:</h6> 
          <ul class="list-group no-style d-flex justify-content-around">
              <li>
                <button id = "make-serif"><span class="font-preview">Aa </span>Serif</button>
              </li>
              <li>
                <button id = "make-sans"><span class="font-preview">Aa </span>Sans Serif</button>
              </li>    
          </ul>
          <br>
          <h6 class="sidebarheading">Set sizing:</h6> 

            <div class="d-flex align-middle sidebar-row">
              <button id="p-less"class="p-2 flex-fill make-size font-preview">-</button>
              <button class="p-2 flex-fill make-size-middle disabled">Size</button>
              <button id="p-more"class="p-2 flex-fill make-size font-preview">+</button>
            </div>
            <div class="d-flex align-middle sidebar-row">
              <button id="lheight-less"class="p-2 flex-fill make-size font-preview">-</button>
              <button class="p-2 flex-fill make-size-middle disabled">Line Height</button>
              <button id="lheight-more"class="p-2 flex-fill make-size font-preview">+</button>
            </div>
            <div class="d-flex align-middle sidebar-row">
              <button id="margin-less" class="p-2 flex-fill make-size font-preview">-</button>
              <button class="p-2 flex-fill make-size-middle disabled">Margins</button>
              <button id="margin-more" class="p-2 flex-fill make-size font-preview">+</button>
            </div>
        </div>
      </nav>
    </div>
    <div class="col-auto">
      <!-- Page Content -->
      <nav class="navbar">
      <!--
        <button type="button" id="sidebar-collapse" class="btn settings-button">
          <i id="collapse-icon" class= "fa fa-angle-double-left"></i>
          <span data-toggle="collapse" aria-expanded="false" id="inviz">Hide Controls</span>
        </button>
      -->
      </nav>
      <div id="content">
        <h1>{{ title|safe}}</h1>

        <h3>{{ author|safe}}</h3>
        <hr>
        {{ content|safe }}
      </div>

    </div>
  </div>   
</main>

{% endblock %}

{% block JS %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

<!-- My Custom JS  -->

<!-- Add sidebar js -->
<script type="text/javascript" src="{{url_for('static', filename='sidebar.js')}}"></script>

<!-- Select and highlight js. -->

<!--
<script type="text/javascript" src="{{url_for( 'static', filename='rr-selecttext.js' )}}"
-->

<script type="text/javascript" src="{{url_for( 'static', filename='highlight.js' )}}"></script>
<script>
  

$("#SubmitHighlightForm").ajaxForm({url: '/article/addhighlight', type: 'post'});



  function NewTopic(){
    $('#CreateTopic').html('<br> <div class = "form-row align-items-center"> <div class="col-sm-6 my-1"> {{ addtopicform.title(class="form-control", id ="addtopicinput", placeholder="Topic title...", required=true, autofocus=true)}} </div> <div class="col-auto my-1"> <button type="button" onclick="CancelNewTopic()" class="btn btn-outline-secondary">cancel</button> </div>  <div class="col-auto my-1"> <button onclick="NewTopicSubmit()" type="submit" class="btn btn-primary">add</button> </div> </div> </form>')
  }

  
  function NewTopicSubmit(){
    $.post('/topics/add', {
      title: $(addtopicinput).val()
    }).done(function(response) {
        $('#topicplaceholder').append('<label class="button-group-pills btn btn-default"><input name = "' + response['title'] + '" type="checkbox">'+response["title"]+'</label>');
        $('#CreateTopic').html('<button onclick ="NewTopic()" class="create-button btn btn-success">Create new topic </button>');
        highlightSelection();
    }).fail(function() {
        $('#CreateTopic').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">There is already a topic with that title.<button onclick = "NewTopic()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
    });
}


  function CancelNewTopic(){
    $('#CreateTopic').html('<button onclick ="NewTopic()" class="create-button btn btn-success">Create new topic </button>')
  }
  


</script>

{% endblock %}