<div class = "heading row">
    <div class = "">
        {% if topics | length == 1 %}
        <h6>1 Topic</h6>
        {% else %}
        <h6>{{topics | length }} Topics</h6>
        {% endif %}
        <span id="add-topic-destination"><button type = "button" class="main-button cancel" onclick="AddTopicStart()">Add new</button></span>

    </div>

    {% if filter_topics|length > 0 or user.tags.count() > 0 %}
        <!-- Filters   -->
        <div class = "filter-col">
            <div id = "filter" class = "main-col filter">
                <div class = "dropdown">
                    <button class="filter-dropdown main-button " type="button" id="dropdownMenuButton" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                        Filter <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                    </button>
                    <div class="dropdown-menu">
                        <form >
                            {% if user.tags.count() > 0 %}
                            <div class = "tags filter-col">
                                <div class="heading">
                                    <h4>Filter highlights by tag:</h4>
                                </div>
                                {% for tag in user.tags.all() %}
                                <label for= "tag{{tag.id}}" class = "filter-tag untagged">{{tag.name}}<input type="checkbox" id = "tag{{tag.id}}" name = "tags" checked value="{{tag.id}}"></input></label>
                                {% endfor %}
                            </div>
                            {% endif %}

                            {% if filter_topics|length > 0%}
                            <div class = "tags filter-col">
                                <div class="heading">
                                    <h4>Filter topics</h4>
                                </div>
                                {% for topic in filter_topics %}
                                <label for= "topic{{topic.id}}" class = "filter-topic untagged">{{topic.title}}<input type="checkbox" id = "topic{{topic.id}}" name = "topics" checked value="{{topic.id}}"></input></label>
                                {% endfor %}
                            </div>
                            {% endif %}
                            
                            <br>
                            <div class="apply-filter">
                                <button type="button" class="main-button save"  data-dismiss="modal" onclick="filter()">apply filter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id = "active_filters">
                {% for tag in active_tags %}
                    <span class = "active-tags">{{tag.name}}</span>
                {% endfor %}
            </div>
        </div>
        <!-- End Filters   -->
    {% endif %} 
   
</div>
<hr>
<div class = "scroll-x"> 
    {% if notopics|length >= 1 %}
    <div class = "topic-column">
        <div class="heading">
            <h4>Highlights without topics</h4>
        </div>
        {% if notopics|length == 0 %}
        {% elif notopics|length == 1%}
        <p class="small">1 highlight</p>
        {% else %}
        <p class="small">{{notopics|length}} highlights</p>
        {% endif %}
        <div class="underline"></div>

        <div class = "scroll-y">
            {% for highlight in notopics %}
                <div class = "highlight-card">
                    {% if highlight.text|length > 200 %}
                    <p>{{'%.200s' % highlight.text}} ...</p>
                    {% else %}
                    <p>{{ highlight.text}}</p>
                    {% endif %}
                
                    <div class = "open">        
                        <a class = "main-button" type="button" onclick = "ViewHighlight({{highlight.id}})"href="#">View</a>
                    </div>
                </div>
            {% endfor %}
            <div class="spacer"></div>
        </div>
    </div>
    {% endif %}
    
    {% for topic in topics %}
    <div class = "topic-column">
        <div class="heading">
            <h4>{{topic.title}}</h4>
            <div class="options dropdown">
                <button id="card-header-dropdown-menu-button" type="button" class="topic-card-header-menu float-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Topics Column Menu">
                    <span aria-hidden="true"><svg class="bi bi-three-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                    </svg></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="card-header-dropdown-menu-button">
                    <h4 class="dropdown-header">Topic Actions</h4>
                    <a class="dropdown-item" href="{{ url_for('main.archivetopic', topic_id = topic.id)}}">Archive topic</a>
                    
                </div>
            </div>                </div>

        {% if topic.highlights.count() == 0%}
        <p class="small">no highlights</p>
        {% elif topic.highlights.count() == 1 %}
        <p class="small">1 highlight</p>

        {% else %}
        <p class="small">{{topic.highlights.count()}} highlights</p>
        {% endif %}
        <div class="underline"></div>

        <div class = "scroll-y">
            {% for highlight in highlights %}
            {% if topic.is_added_highlight(highlight) %}
            <div class = "highlight-card">
                {% if highlight.text|length > 200 %}
                <p>{{'%.200s' % highlight.text}} ...</p>
                {% else %}
                <p>{{ highlight.text}}</p>
                {% endif %}
            
                <div class = "open">        
                    <a class = "main-button" type="button" onclick = "ViewHighlight({{highlight.id}})"href="#">View</a>
                </div>
            </div>


            {% endif %}
            {% endfor %}
            <div class="spacer"></div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="modal" id="ViewHighlightModal" tabindex="-1" role="dialog" aria-labelledby="ViewHighlightModalLabel" aria-hidden="true"> 
</div>