{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block content %}
<div class= "pushdown">
    <h1>Topics</h1>
    <hr>
    <div class="topics-row">
        {% for topic in topics %}
        <div class="card topics-col">
            <div class="card-header d-flex justify-content-between">
                {{topic.title}}
                
                <div class="dropdown">
                    <button id="card-header-dropdown-menu-button" type="button" class="topic-card-header-menu dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Topics Column Menu">
                        <span aria-hidden="true"><svg class="bi bi-three-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                          </svg></span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="card-header-dropdown-menu-button">
                          <h4 class="dropdown-header">Topic Actions</h4>
                        <a class="dropdown-item" href="{{ url_for('archivetopic', id = topic.id)}}">Archive topic</a>
                        
                      </div>
                </div>
                    
                    
                    
                
            </div>
            <div class="card-body topics-col-inner">
                <ul class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
                    <a href="#" class="list-group-item list-group-item-action">Item</a>
               </ul>
            </div>
        </div>
        
        {% endfor %}

        <div class="topics-col accordion align-top" id="addtopicheader">
            <div class="card">
                <a class="addtopicbutton" href="#"><span class="card-header add-topic" data-toggle="collapse" data-target="#addtopic" aria-expanded="true" aria-controls="addtopic"> + add a topic</span></a>
                <div id="addtopic" class="collapse" aria-labelledby="addtopic" data-parent="#addtopicheader">
                    <div class="card-body">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.title(class="form-control", id ="addtopicinput", placeholder="Topic title...", required=true, autofocus=true)}}
                            </div>
                        
                            <button type="submit" class="btn btn-primary">add</button>
                            <button type="button" class="close"  id="add-topic-close" aria-label="Close" data-toggle="collapse" data-target="#addtopic">
                                <span aria-hidden="true">&times;</span>
                            </button>    
                        </form>
                    </div>
                </div>   

             </div>
        </div>
    </div>
    
</div>



{% endblock%}

{% block JS %}
<script>
var addtopicbutton = document.getElementsByClassName('addtopicbutton');
var field = document.getElementById('addtopicinput');


$('#addtopicheader').on('shown.bs.collapse', function () {
    field.focus();
})

$('#addtopicheader').on('show.bs.collapse', function () {
    addtopicbutton[0].style.display = "none";
})
$('#addtopicheader').on('hide.bs.collapse', function () {
    addtopicbutton[0].style.display = "block";
})


</script>


{% endblock %}