<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="article_data_form">
            <div class= "lurnby_data_group article_data_group">
                <div class="modal-header">
                    <h5 class="modal-title not-editing">{{article.title}}</h5>
                    <textarea id = "title_edit" class="editing title" >{{article.title}}</textarea>
                    <span id='export'>
                        <button type = "button" class = "main-button cancel not-editing" onclick="export_method({{article.id}})">Export highlights</button>
                    </span> 
                    <button type = "button" class = "main-button cancel not-editing" onclick="edit_article()">Edit</button>
               
                <button type="button"  class="close editing" data-dismiss="modal" onclick="clear_modals()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            </div>
           
            <div class="modal-body">
                <div class = "lurnby_data_group article_data_group form-group">
                    <h6>Read: </h6>
                    <p class = "not-editing" id="article_progress">{{ article.progress|round|int}}%</p>
                
                    <select class="reg-select editing " id="read_edit">
                        {%if article.done == true %}
                        <option value="keep">{{ article.progress|round|int}}%</option>
                        <option value="read" selected >Mark read</option>
                        <option value="unread">Mark unread</option>
                        {% elif article.unread == true %}
                        <option value="keep">{{ article.progress|round|int}}%</option>
                        <option value="read"  >Mark read</option>
                        <option value="unread" selected>Mark unread</option>
                        {% else %}
                        <option value="keep" selected>{{ article.progress|round|int}}%</option>
                        <option value="read"  >Mark read</option>
                        <option value="unread">Mark unread</option>
                        {% endif %}
                    </select>
                    
                </div>
                <div id = "article_source" class = "lurnby_data_group article_data_group">
                    {% if article.source_url %}
                    <h6>Source:</h6><a class = "regular" target = "_blank" href="{{article.source_url}}">{{article.source_url}}</a>
                    {% else %}
                    <h6>Source:</h6><p>{{article.source}}</p>
                    {% endif %}
                </div>
            
                <div class = "lurnby_data_group article_data_group">

                    <h6 class="inline-block">Tags:</h6><span class = "inline-button" id ="add_new_tag"><button  onclick = "add_tag_start('view-article-tag')" class = "main-button add_new editing">Add New</button></span><br>

                    <span id="tags">
                        <span id="new_tags"></span>
                        {% for tag in article.tags %}
                        <label class = "tagged">{{tag.name}}<input type="checkbox" name = "tags" checked value="{{tag.name}}"></input></label>
                        {% endfor %}
                        {% for tag in article.not_in_tags(current_user) %}
                        <label class = "untagged editing" >{{tag.name}}<input type="checkbox" name = "tags" value="{{tag.name}}"></input></label>
                        {% endfor %}
                    </span>
                </div>
                
                <div class = "lurnby_data_group article_data_group">
                    <h6>Notes: </h6>
                    <p class = "not-editing" id="article_notes"></p>
                    <textarea id="notes_edit" class = "large editing">{{ article.notes|safe}}</textarea>
                </div>
                {% if article.filetype == 'manual' or article.filetype == 'email' %}
                <div class = "lurnby_data_group article_data_group">
                    <h6>Content: </h6>
                    <p class = "not-editing" id="article_content"> </p>
                    <textarea id="content_edit" class = "large article_content editing" >{{ article.content|safe}}</textarea>
                </div>
                {% endif %}
        
        </form>

      
    
    </div>
    <div class="modal-footer">
        <a type="button" href ="{{url_for('main.archiveArticle', uuid=article.uuid)}}" class="main-button cancel archive editing">Archive</a>

      <button type="button" class="main-button cancel editing"  onclick="clear_modals()" data-dismiss="modal">Close</button>
      <button type="button" class="main-button save editing"  data-dismiss="modal" onclick="save('{{article.uuid}}')">Save changes</button>
      <button type="button" class="main-button not-editing" onclick="clear_modals()" data-dismiss="modal">Close</button>

    </div>
  </div>
</div>

<script text="javascript" src = "{{url_for('static', filename='articles.js') }}"> </script>
